{% extends 'ServiciosBundle::plantillas/portadas/intranet.html.twig' %}
{% block stylesheet%} 
{{parent()}}
<link rel="stylesheet" href="{{asset('plugins/menu/css/general.css')}}" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{asset('plugins/menu/ddsmoothmenu.css')}}" />
<link rel="stylesheet" type="text/css" href="{{asset('plugins/menu/ddsmoothmenu-v.css')}}" />
<link rel="stylesheet" href="{{asset('plugins/iconos/cus-icons.css')}}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{asset('plugins/JAlert/jquery.alerts.css')}}" />
<style>
    .menu-content{
        background: #004467;
        position:relative;
        height: 30px;
    }
    .titulo{
        position:absolute;
        top:5px;
        right: 5px;
        color:#ffffff;
        font-weight: bold;
    }
    td{
        height: 30px;
    }
</style>
<link rel="stylesheet" href="{{asset('plugins/datatable/media/css/demo_table.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('plugins/jquery-ui/css/custom-theme/jquery-ui-1.10.3.custom.css')}}" />
{% endblock%} 

{% block javascript%} 
{{parent()}}
    <script type="text/javascript" src="{{asset('plugins/JAlert/jquery.alerts.js')}}"></script>
    <script type="text/javascript" src="{{asset('plugins/menu/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('plugins/menu/ddsmoothmenu.js')}}"></script>
    <script type="text/javascript">
        ddsmoothmenu.init({
            mainmenuid: "smoothmenu1", //menu DIV id
            orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
            classname: 'ddsmoothmenu', //class added to menu's outer DIV
            //customtheme: ["#1c5a80", "#18374a"],
            contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
        })
        </script>

        <!-- Para la fecha -->
        <script>            
            $(function() {                
                $("#txtfecha").datepicker();
                // para idioma en español
                $("#txtfecha").datepicker('option',{dateFormat: 'yy-mm-dd'},{timeFormat: 'hh:mm:00'});
                
                $("#txtfecha2").datepicker();
                // para idioma en español
                $("#txtfecha2").datepicker('option',{dateFormat: 'yy-mm-dd'},{timeFormat: 'hh:mm:00'});
                
            });         
        </script>
        
        <!-- Para el Datatable -->
        <script type="text/javascript" src="{{asset('plugins/datatable/media/js/jquery.js')}}"></script>
        <script type="text/javascript" src="{{asset('plugins/datatable/media/js/jquery.dataTables.js')}}"></script>
        <script type="text/javascript" src="{{asset('plugins/jquery-ui/js/jquery-ui-1.10.3.custom.js')}}"></script>
        
        {% include 'DiacBundle::js/js.html.twig' %}
       
{% endblock%} 

{%block panel1%}
    <div class="menu-content">
        {{menutotal|raw('html')}}
        <div class="titulo">DIRECCIÓN DE ACUICULTURA (DIAC)</div>  
    </div>

    <div style="width: 95%;margin: 20px auto;background: #ffffff;border:1px solid #000000;padding: 30px;">      
                
        <div id="divDatos" style="width: 95%; float: left; margin-left: 3%; padding-left: 3px; border: 0px solid #004163;">
            <br><br>
            <table id="grilla-usuarios" width="100%" >
                <thead>
                    <tr>
                        <th width="5%">ID</th>
                        <th width="2%">EDITAR</th>
                        <th width="2%">QUITAR</th>
                        <th width="5%">N° ACTA</th>
                        <th width="20%">ACUICULTOR</th>                        
                        <th width="5%">RESOLUCIÓN</th>                        
                        <th width="5%">FECHA</th>
                        <th width="5%">HORA</th>                                                
                        <th width="20%">OBSERVACIONES</th>  
                        <th width="2%">CREAR ACTA</th>
                    </tr>
                </thead>                            
                <tbody>                                    
                    <tr>                        
                        <td></td>
                        <td></td>
                        <td></td>                        
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>                        
                        <td></td>                        
                        <td></td>    
                        <td></td>    
                    </tr>
                </tbody>                
            </table>
        </div>
        
        <div id="divBotones" style="width: 95%; float: left; margin-left: 3%; padding-left: 3px;">        
            <a class="button" id="btnVerDatos" href="javascript:;" onClick="verDatos();"><span class="icon icon120"></span><span class="label">Ver Listado</span></a>
            <a class="button" id="btnVerFormulario" href="javascript:;" onClick="verFormulario();"><span class="icon icon68"></span><span class="label">Nuevo</span></a>
            
            <a href="javascript:;" onclick="buscar();"><span class="btn"><i class="cus cus-textfield-add"></i></span></a>
            <a href="javascript:;" onclick="buscar();"><span class="btn"><i class="cus cus-table-add"></i></span></a>
            <a href="javascript:;" onclick="buscar();"><span class="btn"><i class="cus cus-application-add"></i></span></a>
            <a href="javascript:;" onclick="buscar();"><span class="btn"><i class="cus cus-book-addresses"></i></span></a>
            <a href="javascript:;" onclick="buscar();"><span class="btn"><i class="cus cus-page-add"></i></span></a>
            <a href="javascript:;" onclick="buscar();"><span class="btn"><i class="cus cus-textfield-add"></i></span></a>
            <a href="javascript:;" onclick="buscar();"><span class="btn"><i class="cus cus-textfield-add"></i></span></a>

            <!--
            <a class="button" id="btnBuscar" href="javascript:;" onClick="buscar();"><span class="icon icon87"></span><span class="label">Buscar</span></a>                        
            <a class="button" id="btnBuscar" href="javascript:;" onClick="buscar();"><span class="cus cus-folder-add"></span><span class="label">Buscar</span></a>
            -->            
        </div>
        
        <div id="divForm1" style="width: 50%; float: left; margin-left: 3%; padding-left: 3px; border: 1px solid #004163;">
            <input type="hidden" name="hdnaccion" id="hdnaccion" value="N" size="4"/>    
            <input type="hidden" name="hdncodigo" id="hdncodigo" value="0" size="4"/>
            <table width="100%" align="center">
                <tr>
                    <td colspan="2" style="background-color:#004163; height: 30px;">
                        <p style="font-family:arial;color:#fff;font-size:13px;text-align:center;"><span class="titulo_perfil">Crear Acta de Inspección de Reproducción de Paiche</span></p>
                    </td>
                </tr>
                <tr>
                    <td align="right">N° de Acta: </td>                
                    <td><input type="text" name="txtnumacta" id="txtnumacta" size="10"/></td>                                            
                </tr>
                <tr>                    
                    <td align="right">Acuicultor: </td>
                    <td>
                        <select id="cboacuicultor" name="cboacuicultor">                                    
                            <option value="0" selected>SELECCIONAR</option>
                            {% for fila in acuicultor %}
                                <option value="{{fila.ID_ACUICULTOR}}">{{fila.NOM_ACUICULTOR}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>                                        
                    <td align="right">N° Resolución: </td>
                    <td><input type="text" name="txtnresol" id="txtnresol" size="10"/></td>
                </tr>
                <tr>                                        
                    <td align="right">Fecha: </td>
                    <td><input type="text" name="txtfecha" id="txtfecha" size="8"/></td>                                            
                </tr>
                <tr>                                        
                    <td align="right">Observaciones: </td>
                    <td><input type="text" name="txtobser" id="txtobser" size="60"/></td>                            
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <a class="button" href="javascript:;" onClick="guardar();"><span class="icon icon67"></span><span class="label">Guardar</span></a>
                        <a class="button" href="javascript:;" onClick="cancelar();"><span class="icon icon188"></span><span class="label">Cancelar</span></a>
                    </td>
                </tr>                        
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>                    
        </div>   
        
        <div id="divForm2" style="width: 50%; float: left; margin-left: 3%; padding-left: 3px; border: 1px solid #004163;">
            <input type="TEXT" name="hdnaccion2" id="hdnaccion2" value="N" size="4"/>    
            <input type="TEXT" name="hdncodigo2" id="hdncodigo2" value="0" size="4"/>
            <table width="100%" align="center">
                <input type="text" name="txtpk" id="txtpk" size="10"/>
                <input type="text" name="txtpknum" id="txtpknum" size="10"/>
                <tr>
                    <td colspan="2" style="background-color:#004163; height: 30px;">
                        <p style="font-family:arial;color:#fff;font-size:13px;text-align:center;"><span class="titulo_perfil">Crear Acta de Inspección de Reproducción de Paiche</span></p>
                    </td>
                </tr>                
                <tr>
                    <td align="right">N° de Acta de Inspección y Levante: </td>                
                    <td><input type="text" name="txtnumacta2" id="txtnumacta2" size="10"/></td>                                            
                </tr>
                <tr>
                    <td align="right">N° de Acta de Inspección de Reproducción: </td>                
                    <td><input type="text" name="txtnumacta1" id="txtnumacta1" size="10" disabled/></td>
                </tr>                        
                <tr>                                        
                    <td align="right">N° de Alevinos: </td>
                    <td><input type="text" name="txtcantidad" id="txtcantidad" size="10"/></td>
                </tr>
                <tr>                                        
                    <td align="right">Longitud promedio de Alevinos: </td>
                    <td><input type="text" name="txtlongitud" id="txtlongitud" size="10"/></td>
                </tr>
                <tr>                    
                    <td align="right">Destino: </td>
                    <td>
                        <select id="cbodestino2" name="cbodestino2" onchange="activartxt();">                                    
                            <option value="0" selected>SELECCIONAR</option>
                            <option value="1">ESTANQUE</option>
                            <option value="2">ACUARIO</option>                            
                        </select>
                        <input type="text" name="txtdestino2" id="txtdestino2" size="30"/>
                    </td>
                </tr>                
                <tr>                                        
                    <td align="right">Fecha: </td>
                    <td><input type="text" name="txtfecha2" id="txtfecha2" size="8"/></td>                                            
                </tr>
                <tr>                                        
                    <td align="right">Observaciones: </td>
                    <td><input type="text" name="txtobser2" id="txtobser2" size="60"/></td>                            
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <a class="button" href="javascript:;" onClick="guardar2();"><span class="icon icon67"></span><span class="label">Guardar</span></a>
                        <a class="button" href="javascript:;" onClick="cancelar2();"><span class="icon icon188"></span><span class="label">Cancelar</span></a>
                    </td>
                </tr>                        
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>                    
        </div>
        
        <div id="divForm3" style="width: 50%; float: left; margin-left: 3%; padding-left: 3px; border: 1px solid #004163;">
            <input type="hidden" name="hdnaccion" id="hdnaccion" value="N" size="4"/>    
            <input type="hidden" name="hdncodigo" id="hdncodigo" value="0" size="4"/>
            <table width="100%" align="center">
                <tr>
                    <td colspan="2" style="background-color:#004163; height: 30px;">
                        <p style="font-family:arial;color:#fff;font-size:13px;text-align:center;"><span class="titulo_perfil">Crear Certificado de Procedencia</span></p>
                    </td>
                </tr>
                <tr>
                    <td align="right">N° de Certificado: </td>                
                    <td><input type="text" name="txtcertificado" id="txtcertificado" size="5"/></td>                                            
                </tr>
                <tr>
                    <td align="right">N° de Acta de Inspección: </td>                
                    <td><input type="text" name="txtidf1" id="txtidf1" size="5"/></td>                                            
                </tr>
                <tr>
                    <td align="right">N° de Acta de Verificación: </td>                
                    <td><input type="text" name="txtidf2" id="txtidf2" size="5"/></td>                                            
                </tr>
                <tr>
                    <td align="right">Nombre del Fundo: </td>                
                    <td><input type="text" name="txtfundo" id="txtfundo" size="5"/></td>                                            
                </tr>                
                <tr>                                        
                    <td align="right">N° de Peces: </td>
                    <td><input type="text" name="txtnumpeces" id="txtnumpeces" size="10"/></td>
                </tr>
                <tr>                                        
                    <td align="right">Talla promedio (cm): </td>
                    <td><input type="text" name="txttalla" id="txttalla" size="10"/></td>
                </tr>
                <tr>                                        
                    <td align="right">Kilos : </td>
                    <td><input type="text" name="txtkilos" id="txtkilos" size="10"/></td>
                </tr>
                <tr>                                        
                    <td align="right">Precio ( moneda ???): </td>
                    <td><input type="text" name="txtprecio" id="txtprecio" size="10"/></td>
                </tr>
                <tr>                    
                    <td align="right">Destino: </td>
                    <td>
                        <select id="cbodestino" name="cbodestino" onchange="activartxt();">                                    
                            <option value="0" selected>SELECCIONAR</option>
                            <option value="1">ESTANQUE</option>
                            <option value="2">ACUARIO</option>                            
                        </select>
                        <input type="text" name="txtdestino" id="txtdestino" size="30"/>
                    </td>
                </tr>                
                <tr>                    
                    <td align="right">Estadio: </td>
                    <td>
                        <select id="cboestadio" name="cboestadio" onchange="activartxt();">                                    
                            <option value="0" selected>SELECCIONAR</option>
                            <option value="1">ALVINOS</option>
                            <option value="2">JUVENILES</option>                            
                            <option value="3">ADULTOS</option>                            
                        </select>
                        <input type="text" name="txtdestino" id="txtdestino" size="30"/>
                    </td>
                </tr>
                
                
                <tr>                                        
                    <td align="right">Fecha: </td>
                    <td><input type="text" name="txtfecha" id="txtfecha" size="8"/></td>                                            
                </tr>
                <tr>                                        
                    <td align="right">Observaciones: </td>
                    <td><input type="text" name="txtobser" id="txtobser" size="60"/></td>                            
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <a class="button" href="javascript:;" onClick="guardar();"><span class="icon icon67"></span><span class="label">Guardar</span></a>
                        <a class="button" href="javascript:;" onClick="cancelar();"><span class="icon icon188"></span><span class="label">Cancelar</span></a>
                    </td>
                </tr>                        
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>                    
        </div>

        <div style="clear:left;"></div>                

    </div>
{%endblock%}