{% extends 'ServiciosBundle::plantillas/portadas/intranet.html.twig' %}
{% block stylesheet%} 
{{parent()}}
<link rel="stylesheet" href="{{asset('plugins/menu/css/general.css')}}" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{asset('plugins/menu/ddsmoothmenu.css')}}" />
<link rel="stylesheet" type="text/css" href="{{asset('plugins/menu/ddsmoothmenu-v.css')}}" />
<link rel="stylesheet" href="{{asset('plugins/iconos/cus-icons.css')}}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{asset('plugins/JAlert/jquery.alerts.css')}}" />
<style>
    .menu-content{
        background: #004467;
        position:relative;
        height: 30px;
    }
    .titulo{
        position:absolute;
        top:5px;
        right: 5px;
        color:#ffffff;
        font-weight: bold;
    }
    td{
        height: 30px;
    }
</style>
<link rel="stylesheet" href="{{asset('plugins/datatable/media/css/demo_table.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('plugins/jquery-ui/css/custom-theme/jquery-ui-1.10.3.custom.css')}}" />
{% endblock%} 

{% block javascript%} 
{{parent()}}
    <script type="text/javascript" src="{{asset('plugins/JAlert/jquery.alerts.js')}}"></script>
    <script type="text/javascript" src="{{asset('plugins/menu/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('plugins/menu/ddsmoothmenu.js')}}"></script>
    <script type="text/javascript">
        ddsmoothmenu.init({
            mainmenuid: "smoothmenu1", //menu DIV id
            orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
            classname: 'ddsmoothmenu', //class added to menu's outer DIV
            //customtheme: ["#1c5a80", "#18374a"],
            contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
        })
        </script>

        <!-- Para la fecha -->
        <script>            
            $(function() {                
                $("#txtfecha").datepicker();
                // para idioma en español
                $("#txtfecha").datepicker('option',{dateFormat: 'yy-mm-dd'},{timeFormat: 'hh:mm:00'});         
            });         
        </script>
        
        <!-- Para el Datatable -->
        <script type="text/javascript" src="{{asset('plugins/datatable/media/js/jquery.js')}}"></script>
        <script type="text/javascript" src="{{asset('plugins/datatable/media/js/jquery.dataTables.js')}}"></script>
        <script type="text/javascript" src="{{asset('plugins/jquery-ui/js/jquery-ui-1.10.3.custom.js')}}"></script>

        <script type="text/javascript">
        $(document).ready(function() {            
            /*--------------INSTANCIA DE PLUGINS--------------------*/
            $("#grilla-usuarios").dataTable( {
                 "aaSorting": [[0,'asc']],
                                  "bProcessing": true,
                                  "bServerSide": true,
                                  "sPaginationType": "full_numbers",
                                  "oLanguage"	: {
                                          "oPaginate" : { 
                                                  "sFirst" : "Primero",
                                                  "sNext" : "Siguiente",
                                                  "sPrevious" : "Anterior",
                                                  "sLast" : "Ultimo"
                                          },
                                          "sInfo" : "_START_ a _END_ de _TOTAL_ registros",
                                          "sLengthMenu": "Mostrar _MENU_ registros",
                                          "sSearch": "Buscar: ",
                                          "sProcessing": "Procesando Informaci&oacute;n...",
                                          "sInfoFiltered": "(Filtrado de un total de _MAX_ registros)",
                                          "sZeroRecords": "No se encontro registros",
                                          "sInfoEmpty": "No hay registros para mostrar"

                                  },

                                  "iDisplayLength": 5,
                                  "aLengthMenu": [ 5,10 ],
                                  //"bJQueryUI" : true,
                                  "sAjaxSource": "{{path('listaractarep')}}",


/* PASAR PARAMETROS PARA BUSQUEDA */
/*
                                  "fnServerParams": function ( aoData ) {
                                             aoData.push( { "name": "codigo_sucursal", "value": {#{codsucursal}}#} )
                                  },
*/


/* OCULTAR COLUMNA */

                                  "fnCreatedRow" : function (nRow, aData, iDataIndex) { 
                                          //$(nRow.getElementsByTagName('td')[0]).attr("hidden","true");
                                          $(nRow.getElementsByTagName('td')[0]).css("display","none");
                                  },

                                  "fnHeaderCallback": function( nHead, aData, iStart, iEnd, aiDisplay ) {
                                          //$(nHead.getElementsByTagName('th')[0]).attr("hidden","true");
                                          $(nHead.getElementsByTagName('th')[0]).css("display","none");
                                  }
                                  
                                  
            });   
            
            
            
            
            /* Habilitar div's de acuerdo al seleccionado */
            $("#btnVerDatos").css("display","none");
            $("#divDatos").css("display","");
            $("#btnVerFormulario").css("display","");
            $("#divForm1").css("display","none");	
            $("#divForm2").css("display","none");	
            $("#grilla-usuarios").dataTable().fnDraw();         
            
         });           
        
        /* Ocultar div de acuerdo a la necesidad */
        function verDatos(){		
		$("#btnVerDatos").css("display","none");
		$("#divDatos").css("display","");
		$("#btnVerFormulario").css("display","");
		$("#divForm1").css("display","none");				
                $("#divForm2").css("display","none");				
	}

	function verFormulario(){
		$("#btnVerDatos").css("display","");
		$("#divDatos").css("display","none");
		$("#btnVerFormulario").css("display","none");
		$("#divForm1").css("display","");		
                
	}                 
                 
        function buscar(){
            jAlert("Sapo eres....!!!!","abc");
            
        }

        function crear(fk){
            alert(fk);
            $("#btnVerDatos").css("display","");
            $("#divDatos").css("display","none");
            $("#btnVerFormulario").css("display","none");
            $("#divForm1").css("display","none");				
            $("#divForm2").css("display","");
        }
                 
         function guardar(){              
            var url="";
            accion = $("#hdnaccion").val();           
            id = $("#hdncodigo").val();
            num = $("#txtnumacta").val();                        
            nom = $("#cboacuicultor").val();
            resol = $("#txtnresol").val();
            fec = $("#txtfecha").val();             
            obs = $("#txtobser").val();
            
            // validar campos vacios 
            if (id == ""){
                alert ("Código esta vacio");                
                $("#hdnaccion").focus();    
                return false;
            }else if (num == ""){
                alert ("Número de Acta de Reproducción esta vacio");                
                $("#txtnumacta").focus();                
                $("#txtnumacta").css('background','#F2F5A9');
                return false;
            }else if (nom == "0"){
                alert ("Acuicultor es nulo");
                $("#cboacuicultor").focus();                
                $("#cboacuicultor").css('background','#F2F5A9');
                return false;
            }else if (resol == ""){
                alert ("Número de resolución es vacio");
                $("#txtnresol").focus();
                $("#txtnresol").css('background','#F2F5A9');
                return false;
            }else if (fec == ""){
                alert ("Fecha es nulo");
                $("#txtfecha").focus();
                $("#txtfecha").css('background','#F2F5A9');
                return false;           
            }else{
                $("#txtnumacta").css('background','#ffffff');                
                $("#cboacuicultor").css('background','#ffffff');                
                $("#txtnresol").css('background','#ffffff');                
                $("#txtfecha").css('background','#ffffff');                
                $("#txtobser").css('background','#ffffff');
            }
                
            // acción           
            if (accion=="N"){
                accion="N";
                url = "{{path('guardar')}}";
            }else if(accion=="U"){
                accion="U"; 
                url = "{{path('actualizar')}}";                
            }
            
            //alert ('Acción: ' + accion + '\n Código: ' + id + '\n Observación: '+ obs + '\n url:' + url);
                               
            $.ajax({
                type: "POST",
                url: url, 
                async: "true",                    
                data: {accion:accion, id:id, num:num, nom:nom, resol:resol, fec:fec, obs:obs}
                }).done(function(msg) {
                    //$("#cboPerfil"+id).val("");                        
                    //alert("El Perfil asigando ha sido eliminado, seleccione uno por favor");                        
                    alert (msg);                    
            });               
            $("#grilla-usuarios").dataTable().fnDraw();         
            cancelar();
            verDatos();
         }         
         
        function editar(id,num,nom,resol,fec,obs){
            $("#pnl_actarep").show();
            $("#hdncodigo").val(id);                          
            $("#txtnumacta").val(num);             
            $("#cboacuicultor").val(nom);
            $("#txtnresol").val(resol);
            $("#txtfecha").val(fec);             
            $("#txtobser").val(obs);             
            $(".titulo_perfil").html("Editar Acta de Inspección de Reproducción de Paiche");
            $("#pnl_opciones").hide();
            $("#hdnaccion").val("U"); 
            verFormulario();
        }
         
        function cancelar(){
            $(".titulo_perfil").html("Crear Acta de Inspección de Reproducción de Paiche");
            $("#hdncodigo").val("");             
            $("#txtnumacta").val("");
            $("#txtacuicultor").val("");
            $("#cboacuicultor").val("SELECCIONAR");
            $("#txtfecha").val("");
            $("#txtnresol").val("");
            $("#txtobser").val("");             
            $("#pnl_opciones").hide();
            $("#hdnaccion").val("N");
            $("#hdncodigo").val("0");  
            verDatos();             
        }
         
        function eliminar(id){
            var xcodigo = 0;
            $("#pnl_actarep").show();
            $("#hdncodigo").val(id);              
            $("#pnl_opciones").hide();
            $("#hdnaccion").val("E");
            $.ajax({
                   type: "POST",
                   url: "{{path('eliminar')}}",
                   async: "true",
                   //data: {accion:accion, idgrupo: idgrupo, descri: descri }
                   data: {id:id}
                   }).done(function(msg) {                        
                       alert (msg);                                       
                       //$("#cboPerfil"+id).val("");                        
                       //alert("El Perfil asigando ha sido eliminado, seleccione uno por favor");                        
               });  
            $("#grilla-usuarios").dataTable().fnDraw();         
            cancelar();
        } 
        </script>           
        
{% endblock%} 

{%block panel1%}
    <div class="menu-content">
        {{menutotal|raw('html')}}
        <div class="titulo">DIRECCIÓN DE ACUICULTURA (DIAC)</div>  
    </div>

    <div style="width: 95%;margin: 20px auto;background: #ffffff;border:1px solid #000000;padding: 30px;">      
                
        <div id="divDatos" style="width: 95%; float: left; margin-left: 3%; padding-left: 3px; border: 0px solid #004163;">
            <br><br>
            <table id="grilla-usuarios" width="100%" >
                <thead>
                    <tr>
                        <th width="5%">ID</th>
                        <th width="2%">EDITAR</th>
                        <th width="2%">QUITAR</th>
                        <th width="5%">N° ACTA</th>
                        <th width="20%">ACUICULTOR</th>                        
                        <th width="5%">RESOLUCIÓN</th>                        
                        <th width="5%">FECHA</th>
                        <th width="5%">HORA</th>                                                
                        <th width="20%">OBSERVACIONES</th>  
                        <th width="2%">DOC2</th>
                    </tr>
                </thead>                            
                <tbody>                                    
                    <tr>                        
                        <td></td>
                        <td></td>
                        <td></td>                        
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>                        
                        <td></td>                        
                        <td></td>    
                        <td></td>    
                    </tr>
                </tbody>                
            </table>
        </div>
        
        <div id="divBotones" style="width: 95%; float: left; margin-left: 3%; padding-left: 3px;">        
            <a class="button" id="btnVerDatos" href="javascript:;" onClick="verDatos();"><span class="icon icon120"></span><span class="label">Ver Listado</span></a>
            <a class="button" id="btnVerFormulario" href="javascript:;" onClick="verFormulario();"><span class="icon icon68"></span><span class="label">Nuevo</span></a>
            
            <a class="button" id="btnBuscar" href="javascript:;" onClick="buscar();"><span class="icon icon87"></span><span class="label">Buscar</span></a>            
            <!--
            <a class="button" id="btnBuscar" href="javascript:;" onClick="buscar();"><span class="cus cus-folder-add"></span><span class="label">Buscar</span></a>
            -->
        </div>
        
        <div id="divForm1" style="width: 50%; float: left; margin-left: 3%; padding-left: 3px; border: 1px solid #004163;">
            <input type="hidden" name="hdnaccion" id="hdnaccion" value="N" size="4"/>    
            <input type="hidden" name="hdncodigo" id="hdncodigo" value="0" size="4"/>
            <table width="100%" align="center">
                <tr>
                    <td colspan="2" style="background-color:#004163; height: 30px;">
                        <p style="font-family:arial;color:#fff;font-size:13px;text-align:center;"><span class="titulo_perfil">Crear Acta de Inspección de Reproducción de Paiche</span></p>
                    </td>
                </tr>
                <tr>
                    <td align="right">N° de Acta: </td>                
                    <td><input type="text" name="txtnumacta" id="txtnumacta" size="5"/></td>                                            
                </tr>
                <tr>                    
                    <td align="right">Acuicultor: </td>
                    <td>
                        <select id="cboacuicultor" name="cboacuicultor">                                    
                            <option value="0" selected>SELECCIONAR</option>
                            {% for fila in acuicultor %}
                                <option value="{{fila.ID_ACUICULTOR}}">{{fila.NOM_ACUICULTOR}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>                                        
                    <td align="right">N° Resolución: </td>
                    <td><input type="text" name="txtnresol" id="txtnresol" size="10"/></td>
                </tr>
                <tr>                                        
                    <td align="right">Fecha: </td>
                    <td><input type="text" name="txtfecha" id="txtfecha" size="8"/></td>                                            
                </tr>
                <tr>                                        
                    <td align="right">Observaciones: </td>
                    <td><input type="text" name="txtobser" id="txtobser" size="60"/></td>                            
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <a class="button" href="javascript:;" onClick="guardar();"><span class="icon icon67"></span><span class="label">Guardar</span></a>
                        <a class="button" href="javascript:;" onClick="cancelar();"><span class="icon icon188"></span><span class="label">Cancelar</span></a>
                    </td>
                </tr>                        
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>                    
        </div>    
        <div id="divForm2" style="width: 50%; float: left; margin-left: 3%; padding-left: 3px; border: 1px solid #004163;">
            <input type="hidden" name="hdnaccion" id="hdnaccion" value="N" size="4"/>    
            <input type="hidden" name="hdncodigo" id="hdncodigo" value="0" size="4"/>
            <table width="100%" align="center">
                <tr>
                    <td colspan="2" style="background-color:#004163; height: 30px;">
                        <p style="font-family:arial;color:#fff;font-size:13px;text-align:center;"><span class="titulo_perfil">Crear Acta de Inspección de Reproducción de Paiche</span></p>
                    </td>
                </tr>
                <tr>
                    <td align="right">N° de Acta de Inspección y Levante: </td>                
                    <td><input type="text" name="txtnumacta" id="txtnumacta" size="40"/></td>                                            
                </tr>
                <tr>
                    <td align="right">N° de Acta de Inspección de Reproducción: </td>                
                    <td><input type="text" name="txtnumacta0" id="txtnumacta0" size="40"/></td>                                            
                </tr>
                <tr>                                        
                    <td align="right">N° de Alevinos: </td>
                    <td><input type="text" name="txtcantidad" id="txtcantidad" size="10"/></td>
                </tr>
                <tr>                                        
                    <td align="right">Longitud promedio de Alevinos: </td>
                    <td><input type="text" name="txtlongitud" id="txtlongitud" size="10"/></td>
                </tr>
                <tr>                    
                    <td align="right">Destino: </td>
                    <td>
                        <select id="cboacuicultor" name="cboacuicultor">                                    
                            <option value="0" selected>SELECCIONAR</option>
                            <option value="1">ESTANQUE</option>
                            <option value="2">ACUARIO</option>
                            <option value="3">EXPORTACION</option>                            
                        </select>
                    </td>
                </tr>
                <tr>                                        
                    <td align="right">Fecha: </td>
                    <td><input type="text" name="txtfecha" id="txtfecha" size="8"/></td>                                            
                </tr>
                <tr>                                        
                    <td align="right">Observaciones: </td>
                    <td><input type="text" name="txtobser" id="txtobser" size="60"/></td>                            
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <a class="button" href="javascript:;" onClick="guardar();"><span class="icon icon67"></span><span class="label">Guardar</span></a>
                        <a class="button" href="javascript:;" onClick="cancelar();"><span class="icon icon188"></span><span class="label">Cancelar</span></a>
                    </td>
                </tr>                        
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>                    
        </div>

        <div style="clear:left;"></div>                

    </div>
{%endblock%}