{% extends 'ServiciosBundle::plantillas/portadas/intranet.html.twig' %}
{% block stylesheet%} 
{{parent()}}
<link rel="stylesheet" href="{{asset('plugins/menu/css/general.css')}}" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{asset('plugins/menu/ddsmoothmenu.css')}}" />
<link rel="stylesheet" type="text/css" href="{{asset('plugins/menu/ddsmoothmenu-v.css')}}" />
<link rel="stylesheet" href="{{asset('plugins/iconos/cus-icons.css')}}" />
<style>
        .menu-content{
            background: #004467;
            position:relative;
            height: 30px;
        }
        .titulo{
            position:absolute;
            top:5px;
            right: 5px;
            color:#ffffff;
            font-weight: bold;
        }
        #tabs{height: 650px;font-size: 12px}
        
        #tabs-table-1{ width: 90%;border: 0px solid;border-spacing: 2px }
        #tabs-table-1 input{ height: 20px}
        #tabs-table-1 td{ border: 1px solid #ffffff;padding: 5px}
        #tabs-table-1 select{ width: 150px;height: 25px}
        
        #tabs-table-3{width: 400px}
        #tabs-table-3 select{ width: 150px;height: 25px}
        
        /*scrollbar*/
        #especies-list{}
        #especies-list tbody{overflow:auto;}         
        #especies-list tbody td{width: 100px;}                 
       
        /*css table tabs especies*/
        
        input.text { margin-bottom:12px; width:95%; padding: .4em; }
        fieldset { padding:0; border:0; margin-top:25px; }
        h1 { font-size: 1.2em; margin: .6em 0; }
        
        div#especies-contain { width: 350px; margin: 20px 0; }
        div#especies-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
        div#especies-contain table td, div#especies-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
        .ui-dialog .ui-state-error { padding: .3em; }
        .validateTips { border: 1px solid transparent; padding: 0.3em; }
        /*end css table tabs especies*/
        
        /*start tabs-4*/
        #table-add-resdicapi{}
        #table-add-resdicapi input{text-transform: uppercase;height: 20px}
        #resolucion-dicapi-list tbody td{width: 100px;text-transform: uppercase;}
        
        /*end tabs-4*/
        
        /*start ITP DIGESA*/
            
            #pth-sanitario-list{text-transform: uppercase}
        /**/
        /*start css res dia eia*/
        
         #dia-eia-resolucion-list{text-transform: uppercase}
        
        /**/
        /*coordenadas*/
            #table-coordenadas-geograficas{}            
            #table-coordenadas-geograficas input{width: 35px}
            
            #table-add-coordenadas{}
            #table-add-coordenadas input{ height: 20px}
        /*end coordenadas*/
        
         /* sstar style upload file*/
        
        .fileUploadSucursal {
            position: relative;
            overflow: visible;
            margin: 0px;
        }
        .fileUploadSucursal input {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
            /*z-index: 1;*/
            width: 120px
        }
        /* end style upload*/
        
        
        

        /**/

    </style>
    <link rel="stylesheet" href="{{asset('plugins/datatable/media/css/demo_table.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('plugins/jquery-ui/css/custom-theme/jquery-ui-1.10.3.custom.css')}}" />
{% endblock%} 

{% block javascript%} 
{{parent()}}
    <script type="text/javascript" src="{{asset('plugins/menu/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('plugins/menu/ddsmoothmenu.js')}}"></script>
    <script type="text/javascript">
        ddsmoothmenu.init({
            mainmenuid: "smoothmenu1", //menu DIV id
            orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
            classname: 'ddsmoothmenu', //class added to menu's outer DIV
            //customtheme: ["#1c5a80", "#18374a"],
            contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
        })
        </script>
        <!-- start include js datatable -->
        <script type="text/javascript" src="{{asset('plugins/datatable/media/js/jquery.js')}}"></script>
        <script type="text/javascript" src="{{asset('plugins/datatable/media/js/jquery.dataTables.js')}}"></script>
        <script type="text/javascript" src="{{asset('plugins/jquery-ui/js/jquery-ui-1.10.3.custom.js')}}"></script>
        <!-- end include js datatable -->

        <!--start js personal -->
        <script type="text/javascript" src="{{asset('bundles/diac/js/autorizacion.js')}}"></script>
        <!-- end js personal -->

        <!-- start js funciones -->          
        <script type="text/javascript">

            function devolverProvincias(cod_dep){

                $.post('{{path('devolverProvincias')}}',{cod_dep:cod_dep},function(datahtml){
                        $("#cboProvincia").html(datahtml);
                        if(cod_dep=='00')$("#cboDistrito").html(datahtml);  
                        else{devolverDistritos(0,0)} 
                 });
            }
            function devolverDistritos(cod_dep,cod_prov){

                $.post('{{path('devolverDistritos')}}',{cod_dep:cod_dep,cod_prov:cod_prov},function(datahtml){
                     $("#cboDistrito").html(datahtml);
                });
            }
            function verDialogRecursoh(){                      
                $.ajax({
                  url:"{{path('recursohDialog')}}",
                  type:"post",
                  data:{}
                }).done(function(msg){                          
                      $("#dialogRecursoh").dialog("open");
                      $("#dialogRecursoh").html(msg);
                });    
            }
            function verDialogDicapi(){                      
                $.ajax({
                  url:"{{path('dicapiDialog')}}",
                  type:"post",
                  data:{}
                }).done(function(msg){                          
                      $("#dialogDicapi").dialog("open");
                      $("#dialogDicapi").html(msg);
                });    
            }
            function verDialogEmpresa(){                      
                $.ajax({
                  url:"{{path('empresaDialog')}}",
                  type:"post",
                  data:{}
                }).done(function(msg){                          
                      $("#dialogEmpresa").dialog("open");
                      $("#dialogEmpresa").html(msg);
                });    
            }
            function verDialogAnexo(codsucursal){                   
                $.ajax({
                  url:"{{path('anexoDialog')}}",
                  type:"post",
                  data:{codsucursal:codsucursal}
                }).done(function(msg){                          
                      $("#dialogAnexo").dialog("open");
                      $("#dialogAnexo").html(msg);
                });    
            }
             function verDialogMapaAcuicola(){                      
                $.ajax({
                  url:"{{path('mapaAcuicolaDialog')}}",
                  type:"post",
                  data:{}
                }).done(function(msg){                          
                      $("#dialogMapaAcuicola").dialog("open");
                      $("#dialogMapaAcuicola").html(msg);
                });    
            }
            var myspecies = new Array();
            var myspeciesgrupo = new Array();
            var key=0;
            
            function quitar_especie(id_remove,id_grupo){                                                                   

                $("#"+id_remove+"").remove();
                myspecies.splice(id_remove);
                
                if(myspeciesgrupo[id_grupo]==1){
                    myspeciesgrupo[id_grupo]=0;
                     $("#grupo_"+id_grupo+"").remove();
                     //myspeciesgrupo.splice(id_grupo,1);
                }
                else{
                   myspeciesgrupo[id_grupo]=myspeciesgrupo[id_grupo]-1; 
                }
                if($('input[name="itemsEspecies[]"]').length>1){
                    
                    
                    $("#radpolicultivo").attr('checked', true); 
                    
                 }else if($('input[name="itemsEspecies[]"]').length==1){
                    
                    $("#radmonocultivo").attr('checked', true); 
                    
                 }else{
                     $("#radpolicultivo").attr('checked', false);
                     $("#radmonocultivo").attr('checked', false); 
                 }
                
            }
            
            function agregar_especie(){  
                
                for (i=0;i<myspecies.length;i++){
                     if(myspecies[i]==$("#cboespecie").val()){
                         alert('Ya ingreso la especie selccionada');
                         return false;
                     }
                }
                 msg='';
                 if($("#cbofamilia").val()==0){
                     msg+="-Seleccione Familia\n";
                 }
                 if($("#cboespecie").val()==0){
                     msg+="-Seleccione Especie\n";
                 }
                  if(msg!=''){
                      alert(msg);
                      return false;
                  }
                 key_grupo=$("#txtgrupoespecieid").val(); 
                 
                 html='<tr id='+key+'>'+
                         '<td style="width: 100px">'+$("#cboespecie option[value='"+$("#cboespecie").val()+"']").text()+'</td>'+
                         '<td style="width: 100px">'+$("#cbofamilia option[value='"+$("#cbofamilia").val()+"']").text()+'</td>'+
                         '<td style="width: 100px"><a href="javascript:;" onclick="quitar_especie('+key+','+key_grupo+')"><span class="btn"><i class="cus cus-delete"></i></span></a>'+
                         '<input type="hidden" name="itemsEspecies[]" id="indice_'+$("#cboespecie").val()+'"  value="'+$("#cboespecie").val()+'"></td>'+     
                       '</tr>';
                 $("#especies-list tbody").append(html);
                 
                 myspecies[key]=$("#cboespecie").val();
                 key=key+1;
                 
                 /*Grupo Familia*/
                
                 if($("#txtgrupoespecieid").val()!=''){
                    if(!myspeciesgrupo[$("#txtgrupoespecieid").val()] || myspeciesgrupo[$("#txtgrupoespecieid").val()]==0){
                        myspeciesgrupo[$("#txtgrupoespecieid").val()]=1;  

                        htmlgrupo='<tr id=grupo_'+$("#txtgrupoespecieid").val()+'><td colspan="2">'+$("#txtgrupoespecie").val()+'</td></tr>';                   
                        $("#especies-grupo").append(htmlgrupo);
                    }else{
                        myspeciesgrupo[$("#txtgrupoespecieid").val()]=myspeciesgrupo[$("#txtgrupoespecieid").val()]+1;
                    } 
                       
                  }   
                 if($('input[name="itemsEspecies[]"]').length>1){
                    
                    
                    $("#radpolicultivo").attr('checked', true); 
                    
                 }else if($('input[name="itemsEspecies[]"]').length==1){
                    
                    $("#radmonocultivo").attr('checked', true); 
                    
                 }else{
                     $("#radpolicultivo").attr('checked', false);
                     $("#radmonocultivo").attr('checked', false); 
                 }
             }
             
             var cont_dicapi=0;
             function agregar_resolucion_dicapi(){
                
                cont_dicapi++;
                
                msg="";
                fechavigencia=$("#txtfecvigenciaresdicapi").val();
                if($("#txtresoluciondicapi").val()==''){                    
                  msg+="- Ingrese Número de Resolución\n";  
                }
                if($("#txtfecemisionresdicapi").val()==''){                    
                  msg+="- Ingrese Fecha de Emisión\n";  
                }
                if(!$('#chksinvigenciadicapi').is(':checked') ){
                   if($("#txtfecvigenciaresdicapi").val()==''){                    
                        msg+="- Ingrese Fecha de Vigencia \n";  
                   } 
                }else{fechavigencia='';}

                if(msg!=''){
                    alert(msg);
                    return false;
                }

                html_res_dicapi='<tr id="res_dicapi_'+cont_dicapi+'">'+
                                '<td style="width: 200px;">'+$("#txtresoluciondicapi").val()+'<input type="hidden" name="res_dicapi[]" value="'+$("#txtresoluciondicapi").val()+'"></td>'+
                                '<td style="width: 100px;">'+$("#txtfecemisionresdicapi").val()+'</td>'+
                                '<td style="width: 100px;">'+fechavigencia+'</td>'+
                                '<td style="width: 100px;"><input type="checkbox" value="res_dicapi_'+cont_dicapi+'" class="cls_res_dicapi"></td>'+
                                '</tr>';
                $("#resolucion-dicapi-list tbody").append(html_res_dicapi);
                    
             }
             function eliminar_resolucion_dicapi(){
             
                $(".cls_res_dicapi").each(function(){ 

                    if($(this).is(':checked') ){
                        
                       $("#"+$(this).val()).remove();
                    }			
                });
  
             }
             
             
             var cont_pth=0;
             function agregar_pth_sanitario(){
                
                cont_pth++;
                
                msg="";
                fechavigencia=$("#txtfecvigenciapth").val();
                
                if($("#txtpthsanitario").val()==''){                    
                  msg+="- Ingrese Número PTH Sanitario\n";  
                }
                if($("#txtfecemisionpth").val()==''){                    
                  msg+="- Ingrese Fecha de Emisión\n";  
                }
                if(!$('#raddigesa').is(':checked')){
                    if(!$('#chkvigenciapth').is(':checked') ){
                       if($("#txtfecvigenciapth").val()==''){                    
                            msg+="- Ingrese Fecha de Vigencia \n";  
                       } 
                    }else{fechavigencia='';}
                }else{fechavigencia='';}
                /*
                if($("#txtareaobservacionpth").val()==''){                    
                  msg+="- Ingrese Observación\n";  
                }
                */
                if(msg!=''){
                    alert(msg);
                    return false;
                }
                
                html_pth_sanitario='<tr id="pth_sanitario_'+cont_pth+'">'+
                                '<td style="width: 50px;">'+$('input[name=rad_digitp]:checked').val()+'</td>'+
                                '<td style="width: 150px;">'+$("#txtpthsanitario").val()+'</td>'+
                                '<td style="width: 100px;">'+$("#txtfecemisionpth").val()+'</td>'+
                                '<td style="width: 100px;">'+fechavigencia+'</td>'+
                                '<td style="width: 200px;">'+$("#txtareaobservacionpth").val()+'</td>'+
                                '<td style="width: 50px;"><input type="checkbox" value="pth_sanitario_'+cont_pth+'" class="cls_pth_sanitario"></td>'+
                                '</tr>';
                $("#pth-sanitario-list tbody").append(html_pth_sanitario);
                
             }
             function eliminar_pth_sanitario(){
             
                $(".cls_pth_sanitario").each(function(){ 

                    if($(this).is(':checked') ){
                        
                       $("#"+$(this).val()).remove();
                    }			
                });
  
             }
             
             var cont=0;
             function agregar_resolucion_dia_eia(){
                 
                cont++;
                
                msg="";
                fechaemision=$("#txtfecemisiondiaeia").val();
                
                if($("#txtresoluciondiaeia").val()==''){                    
                  msg+="- Ingrese N° R.D. que aprueba Día/EIA \n";  
                }
                if(!$('#chkemisiondiaeia').is(':checked') ){
                   if($("#txtfecemisiondiaeia").val()==''){                    
                        msg+="- Ingrese Fecha de Emisión \n";  
                   } 
                }else{fechaemision='';}
                /*    
                if($("#txtareaobservaciondiaeia").val()==''){                    
                  msg+="- Ingrese Observación\n";  
                }
                */
                if(msg!=''){
                    alert(msg);
                    return false;
                }
                
                html_dia_eia='<tr id="dia_eia_'+cont+'">'+
                                '<td style="width: 100px;">'+$('input[name=rad_diaeia]:checked').val()+'</td>'+
                                '<td style="width: 200px;">'+$("#txtresoluciondiaeia").val()+'</td>'+
                                '<td style="width: 100px;">'+fechaemision+'</td>'+
                                '<td style="width: 100px;">'+$("#txtareaobservaciondiaeia").val()+'</td>'+
                                '<td style="width: 100px;"><input type="checkbox" value="dia_eia_'+cont+'" class="cls_dia_eia"></td>'+
                             '</tr>';
                $("#dia-eia-resolucion-list tbody").append(html_dia_eia);
                
             }
             function eliminar_resolucion_dia_eia(){
             
                $(".cls_dia_eia").each(function(){ 

                    if($(this).is(':checked') ){
                        
                       $("#"+$(this).val()).remove();
                    }			
                });
  
             }
             
             var cont_coordenada=0;
             function agregar_coordenadas(){
                
                cont_coordenada++;
                
                msg="";
                
                if($("#txtpuntocoordenada").val()==''){                    
                  msg+="- Ingrese Punto\n";  
                }
                if($("#txtlatgrad").val()==''){                    
                  msg+="- Ingrese Grado de Latitud\n";  
                }
                if($("#txtlatmin").val()==''){                    
                  msg+="- Ingrese Minutos de Latitud\n";  
                }
                if($("#txtlatseg").val()==''){                    
                  msg+="- Ingrese Segundos de Latitud\n";  
                }
                if($("#txtlongrad").val()==''){                    
                  msg+="- Ingrese Grado de Longitud\n";  
                }
                if($("#txtlonmin").val()==''){                    
                  msg+="- Ingrese Minutos de Longitud\n";  
                }
                if($("#txtlonseg").val()==''){                    
                  msg+="- Ingrese Segundos de Longitud\n";  
                }
                if($("#txtutmnorte").val()==''){                    
                  msg+="- Ingrese UTM Norte\n";  
                }
                if($("#txtutmeste").val()==''){                    
                  msg+="- Ingrese UTM Este\n";  
                }
                if(msg!=''){
                    alert(msg);
                    return false;
                }
                
                Latitud=$("#txtlatgrad").val()+' '+$("#txtlatmin").val()+' '+$("#txtlatseg").val()+' ';
                Longitud=$("#txtlongrad").val()+' '+$("#txtlonmin").val()+' '+$("#txtlonseg").val()+' ';
                
                 html_coordenada='<tr id="coordenada_'+cont_coordenada+'">'+
                                '<td style="width: 75px;">'+$("#txtpuntocoordenada").val()+'</td>'+
                                '<td style="width: 75px;">'+$("#cbozonacoordenada").val()+'</td>'+
                                '<td style="width: 75px;">'+Latitud+'</td>'+
                                '<td style="width: 75px;">'+Longitud+'</td>'+
                                '<td style="width: 75px;">'+$("#txtutmnorte").val()+'</td>'+
                                '<td style="width: 75px;">'+$("#txtutmeste").val()+'</td>'+
                                '<td style="width: 75px;">'+Latitud+'</td>'+
                                '<td style="width: 75px;">'+Longitud+'</td>'+
                                '<td style="width: 75px;">'+$("#txtareacoordenada").val()+'</td>'+
                                '<td style="width: 75px;"><input type="checkbox" value="coordenada_'+cont_coordenada+'" class="cls_coordenada"></td>'+
                             '</tr>';
                $("#coordenadas-list tbody").append(html_coordenada);
                
                
            }
            function eliminar_coordenada(){
             
                $(".cls_coordenada").each(function(){ 

                    if($(this).is(':checked') ){                        
                       $("#"+$(this).val()).remove();
                    }			
                });
  
             }
             function validar_upload_file_sucursal(){
                   
                    var archivos = document.getElementById("archivosucursal");
                    var archivo = archivos.files; 
                    var data = new FormData();
                    
                    for(i=0; i<archivo.length; i++){
                        data.append('archivo'+i,archivo[i]);
                    }
                    //data.append('nombre',15); 
                    
                    $.ajax({
                        url:'{{path('validarUploadFile')}}', 
                        type:'POST', 
                        contentType:false, 
                        data:data, 
                        processData:false, 
                        cache:false,
                        
                        success: function(msg) {
                            if(msg==2){
                               alert('Formato No Válido, Permitidos .PDF');
                               $("#archivoSucursal").val('');
                           }else if(msg==3){
                               alert('Tamaño Maximo Permitido 2MB');
                               $("#archivoSucursal").val('');
                           }else{
                               $("#namearchivosucursal").val(msg);
                           }
                            
                        },
                        error: function(msg) {
                           alert('Error en archivo');
                        }
                        
                    });
                }
             
             function guardar_sucursal(){
                
                /*Validando tabs SUCURSAL*/                
                msg='';
                if($("#txtempresa").val()==''){
                    msg+="- Ingrese Empresa\n";                    
                }
                if($("#sltipoderecho").val()=='0'){
                    msg+="- Seleccione Tipo Derecho\n";                    
                }
                if($("#sltiporesolucion").val()=='0'){
                    msg+="- Seleccione Tipo Resolución\n";                    
                }
                if($("#slnivelproduccion").val()=='0'){
                    msg+="- Seleccione Nivel de Producción\n";                    
                }                
                if($("#slestado").val()=='0'){
                    msg+="- Seleccione Estado\n";                    
                }
                if($("#txtresolucionsucursal").val()==''){
                    msg+="- Ingrese Nro. Resolución\n";                    
                }
                if($("#cboDepartamento").val()=='0'){
                    msg+="- Seleccione Departamento\n";                    
                }
                if($("#cboProvincia").val()=='0'){
                    msg+="- Seleccione Provincia\n";                    
                }
                if($("#cboDistrito").val()=='0'){
                    msg+="- Seleccione Distrito\n";                    
                }
                if($("#txtmapaacuicola").val()==''){
                    msg+="- Ingrese Mapa Acuicola\n";                    
                }
                if($("#txtfecemisionsucursal").val()==''){
                    msg+="- Ingrese Fecha de Emisión\n";                    
                }                
                if($("#txtfvigenciasucursal").val()==''){
                    msg+="- Ingrese Fecha de Vigencia\n";                    
                }                  
                
                if(msg!=''){
                    alert(msg);
                }
                
                
                
                
             }
            

            </script>
            <!-- end js funciones -->  

            <!-- start js jquery -->  
            <script type="text/javascript">

                $(document).ready(function() {/*start jquery*/
                
                    /*-- start tabs*/
                        $( "#tabs" ).tabs();
                    /*end tabs*/
                    /*start file*/
                    $("#fileUploadModSucursal").hide();
                    /* end file*/
                
                    /*start datepicker*/
                    
                        /*autorizacion/concesion*/
                        $( "#txtfecemisionsucursal" ).datepicker();
                        $( "#txtfecemisionsucursal" ).datepicker('option', {dateFormat: 'dd/mm/yy'});
                        $( "#txtfvigenciasucursal" ).datepicker();
                        $( "#txtfvigenciasucursal" ).datepicker('option', {dateFormat: 'dd/mm/yy'});
                        
                        $( "#txtfecemisiontab1" ).datepicker();
                        $( "#txtfecemisiontab1" ).datepicker('option', {dateFormat: 'dd/mm/yy'});
                        $( "#txtfvigenciatab1" ).datepicker();
                        $( "#txtfvigenciatab1" ).datepicker('option', {dateFormat: 'dd/mm/yy'});
                        /*tabs-4*/
                        $( "#txtfecemisionresdicapi" ).datepicker();
                        $( "#txtfecemisionresdicapi" ).datepicker('option', {dateFormat: 'dd/mm/yy'});
                        $( "#txtfecvigenciaresdicapi" ).datepicker();
                        $( "#txtfecvigenciaresdicapi" ).datepicker('option', {dateFormat: 'dd/mm/yy'});
                        /*end tabs-4*/
                        /*tabs-5*/
                        $( "#txtfecemisionpth" ).datepicker();
                        $( "#txtfecemisionpth" ).datepicker('option', {dateFormat: 'dd/mm/yy'});
                        $( "#txtfecvigenciapth" ).datepicker();
                        $( "#txtfecvigenciapth" ).datepicker('option', {dateFormat: 'dd/mm/yy'});
                        /*end tabs-4*/
                        /*DIA-EIA*/                            
                        $( "#txtfecemisiondiaeia" ).datepicker();
                        $( "#txtfecemisiondiaeia" ).datepicker('option', {dateFormat: 'dd/mm/yy'});
                        /*end dia/eia*/
                        
                        
                    /*end datpicker*/
                    
                    /*start eventos auto*/
                        /*tipo derecho*/
                        $.post('{{path('devolverTipoDerecho')}}',{},function(datahtml){
                            $("#sltipoderecho").html(datahtml);
                        });
                        /*tipo resolucion*/
                        $.post('{{path('devolverTipoResolucion')}}',{},function(datahtml){
                            $("#sltiporesolucion").html(datahtml);
                        });
                        /*tipo desarrollo*/
                        $.post('{{path('devolverTipoDesarrollo')}}',{},function(datahtml){
                            $("#slnivelproduccion").html(datahtml);
                        });
                        /*tipo estado*/
                        $.post('{{path('devolverTipoEstado')}}',{},function(datahtml){
                            $("#slestado").html(datahtml);
                        });
                        /*tipo tipo recurso*/
                        $.post('{{path('devolverTipoRecurso')}}',{},function(datahtml){
                            $("#sltiporecurso").html(datahtml);
                        });
                    /*end eventos auto*/
                    
                    /*start ubigeo*/

                        /*Devolver Listado de Provincias al Seleccionar Departamento*/              
                        $("#cboDepartamento").change(function (){                  
                             devolverProvincias($("#cboDepartamento").val())            
                        });
                        /*Devolver Listado de Distritos al Seleccionar Provincia*/
                        $("#cboProvincia").change(function (){
                             devolverDistritos($("#cboDepartamento").val(),$("#cboProvincia").val())
                        });
                        $("#sltiporecurso").change(function (){
                             $.post('{{path('devolverRecursosxTipo')}}',{cod_tipo_recurso:$("#sltiporecurso").val()},function(datahtml){
                                $("#slrecursosxtipo").html(datahtml);
                             });
                        });                          
                    
                    /*end ubigeo*/
                    /*start dialog*/                        
                            $("#dialogRecursoh").dialog({/*Dialog Anexo*/
                                autoOpen:false,
                                width:"70%",
                                height:"650",
                                modal:true,
                                resizable: false,
                                show: {
                                     effect: "blind",
                                     duration: 1000                    
                                },
                                 hide: {
                                    effect: "blind",
                                    duration: 1000
                                },
                                close:function(){$(this).html("");},
                                buttons:{
                                       // Aceptar:function(){$(this).dialog("close")}
                                }
                            });
                             $("#dialogDicapi").dialog({/*Dialog Dicapi*/
                                autoOpen:false,
                                width:"50%",
                                height:"250",
                                modal:true,
                                resizable: false,
                                show: {
                                     effect: "blind",
                                     duration: 1000                    
                                },
                                 hide: {
                                    effect: "blind",
                                    duration: 1000
                                },
                                close:function(){$(this).html("");},
                                buttons:{
                                       // Aceptar:function(){$(this).dialog("close")}
                                }
                            });
                            $("#dialogMapaAcuicola").dialog({/*Dialog Dicapi*/
                                autoOpen:false,
                                width:"30%",
                                height:"250",
                                modal:true,
                                resizable: false,
                                show: {
                                     effect: "blind",
                                     duration: 1000                    
                                },
                                 hide: {
                                    effect: "blind",
                                    duration: 1000
                                },
                                close:function(){$(this).html("");},
                                buttons:{
                                       // Aceptar:function(){$(this).dialog("close")}
                                }
                            });
                            $("#dialogEmpresa").dialog({/*Dialog Dicapi*/
                                autoOpen:false,
                                width:"60%",
                                height:"750",
                                modal:true,
                                resizable: false,
                                show: {
                                     effect: "blind",
                                     duration: 100                    
                                },
                                 hide: {
                                    effect: "blind",
                                    duration: 100
                                },
                                close:function(){$(this).html("");},
                                buttons:{
                                       // Aceptar:function(){$(this).dialog("close")}
                                }
                            });
                             $("#dialogAnexo").dialog({/*Dialog Anexo*/
                                autoOpen:false,
                                width:"60%",
                                height:"550",
                                modal:true,
                                resizable: false,
                                show: {
                                     effect: "blind",
                                     duration: 100                    
                                },
                                 hide: {
                                    effect: "blind",
                                    duration: 100
                                },
                                close:function(){$(this).html("");},
                                buttons:{
                                       // Aceptar:function(){$(this).dialog("close")}
                                }
                            });
                    /*end dialog*/
                    
                    /*---start eventos jquery tabs-3---*/
                    
                        /*Listado de especies por familia*/
                        $("#cbofamilia").change(function (){                  
                             $.post('{{path('devolverEspeciexfamilia')}}',{id:$("#cbofamilia").val()},function(datahtml){
                             $("#cboespecie").html(datahtml);
                             
                                $("#txtnomcientifico").val('');
                                $("#txtgrupoespecie").val('');
                                $("#txtgrupoespecieid").val('');
                          });          
                        });
                        
                        $("#cboespecie").change(function (){                  
                             $.post('{{path('devolverEspecie')}}',{id:$("#cboespecie").val()},function(data){
                                     $("#txtnomcientifico").val(data.nombre_cientifico);
                                     $("#txtgrupoespecie").val(data.NOM_GRUPO_ESPECIE);
                                     $("#txtgrupoespecieid").val(data.COD_GRUPO_ESPECIE);
                             },'json');          
                        });
                                                
                        $("#raddigesa,#raditp").click(function (){
                            if($('input[name=raddigitp]:checked').val()=='digesa'){
                                $("#lblfecvigenciatab5").hide();
                                $("#txtfecvigenciatab5").hide();
                            }else{
                                $("#lblfecvigenciatab5").show();
                                $("#txtfecvigenciatab5").show();
                            }
                        });
                        
                        /*start tabs 4*/
                            
                            $("#chksinvigenciadicapi").click(function (){  
                                if($('#chksinvigenciadicapi').is(':checked') ){
                                     $("#lblfecvigencia").hide();
                                     $("#txtfecvigenciaresdicapi").hide();
                                }else{
                                    $("#lblfecvigencia").show();
                                    $("#txtfecvigenciaresdicapi").show();
                                }
                            });
                            
                        /*end tabs-4*/
                        
                        /*start ITP DIGESA SANIPES*/
                        $( "input" ).on( "click", function() {
                            
                             if($( "input:checked" ).val()=='digesa'){
                                 $("#lblfecvigenciapth").hide();
                                 $("#txtfecvigenciapth").hide();
                                 $("#comtenedor-check-fech-vigencia").hide();
                                 $("#chkvigenciapth").attr('checked', false);
                                 
                             }
                             if($( "input:checked" ).val()=='itp' || $( "input:checked" ).val()=='sanipes' ){
                                 if(!$('#chkvigenciapth').is(':checked') ){
                                        $("#lblfecvigenciapth").show();
                                        $("#txtfecvigenciapth").show();
                                        $("#comtenedor-check-fech-vigencia").show(); 
                                  }
                             }
                        });
                        $("#chkvigenciapth").click(function (){  
                                if($('#chkvigenciapth').is(':checked') ){
                                     $("#lblfecvigenciapth").hide();
                                     $("#txtfecvigenciapth").hide();
                                }else{
                                    $("#lblfecvigenciapth").show();
                                    $("#txtfecvigenciapth").show();
                                }
                         });
                            
                        /*end tabs-5*/
                        
                        /*resolucion dia/eia*/
                            
                            
                        /**/
                        
                        
                    /*end eventos jquery tabs-3*/
                  
                });
                
                </script>
                <!-- end js jquery -->
{% endblock%} 
            {%block panel1%}
                <div class="menu-content">
                  {{menutotal|raw('html')}}
                        <div class="titulo">DIRECCIÓN DE ACUICULTURA (DIAC)</div>  
                    </div>

                    <div style="width: 85%;margin: 15px auto;background: #ffffff;border:1px solid #000000;padding: 25px 25px 50px;">

                        <div id="tabs">
                            <ul>
                                <li><a href="#tabs-1">Datos de Autorización/Concesión</a></li>
                                <li><a href="#tabs-2">Coordenadas</a></li>
                                <li><a href="#tabs-3">Especies</a></li>
                                <li><a href="#tabs-4">Derecho de Uso  de DICAPI</a></li>
                                <li><a href="#tabs-5">Certificación Sanitaria</a></li>
                                <li><a href="#tabs-6">Certificación Ambiental</a></li>
                            </ul>
                            <div id="tabs-1">

                                <table id="tabs-table-1" style="width: 70%">
                                    
                                   <tr>
                                        <td width="15%">Prod. Estimada:</td>                            
                                        <td ><input type="text" name="txtprodestimada" id="txtprodestimada" size="20">&nbsp;Toneladas</td>
                                        <td width="20%">Num. Estanques / Jaulas / Otros:</td>                            
                                        <td ><input type="text" name="txtnumjaulas" id="txtnumjaulas" size="20"></td>
                                    </tr> 
                                    <tr>
                                        <td>Empresa:</td>                            
                                        <td colspan="3">
                                            <input type="text" name="txtempresa" id="txtempresa" size="50" style="float:left;margin-right: 15px;margin-top: 5px" readonly>
                                            <a class="button" href="javascript:;" onClick="verDialogEmpresa()" style="margin-top: 0px"><span class="icon icon198"></span><span class="label">Buscar</span></a></td>
                                    </tr>
                                    <tr>
                                        <td>Tipo Derecho:</td>                            
                                        <td ><select name="sltipoderecho" id="sltipoderecho"><option value="0">--Seleccione--</option></select></td>
                                        <td>Tipo Resolución:</td>                            
                                        <td ><select name="sltiporesolucion" id="sltiporesolucion"><option value="0">--Seleccione--</option></select></td>
                                    </tr>
                                    <tr>
                                        <td>Nivel de Producción:</td>                            
                                        <td ><select name="slnivelproduccion" id="slnivelproduccion"><option value="0">--Seleccione--</option></select></td>
                                        <td>Estado:</td>                            
                                        <td><select name="slestado" id="slestado"><option value="0">--Seleccione--</option></select></td>
                                    </tr>
                                </table>

                                <table id="tabs-table-1" style="width: 70%">
                                    <tr>
                                         <td width="10%">N° Resolución:</td>                            
                                        <td><input type="text" name="txtresolucionsucursal" id="txtresolucionsucursal" size="35" style="float:left;margin-right: 15px;margin-top: 5px">
                                            
                                        <td width="20%">N° RD de Habilitación - Dicapi</td>                            
                                        <td><input type="text" name="txtrddicapi" id="txtrddicapi" size="35" style="float:left;margin-right: 15px;margin-top: 5px" readonly>
                                            <a class="button" href="javascript:;" onClick="verDialogDicapi()" style="margin-top: 0px"><span class="icon icon198"></span><span class="label">Buscar</span></a></td>
                                    </tr>
                                </table>
                                <table id="tabs-table-1" style="width: 70%">
                                    <tr>
                                        <td>Departamento: </td>
                                        <td>{{departamento|raw('html')}}</td>
                                        <td>Provincia: </td><td><select name="cboProvincia" id="cboProvincia">
                                                <option value="0">--Seleccione--</option>
                                            </select></td>
                                        <td>Distrito: </td>
                                        <td><select name="cboDistrito" id="cboDistrito">
                                                <option value="0">--Seleccione--</option>
                                            </select></td>
                                        <td><input type="radio" name="radconmar" id="radcontinental"></td>
                                        <td>Continental</td>
                                        <td><input type="radio" name="radconmar" id="radmaricultura"></td>
                                        <td>Maricultura</td>     
                                    </tr>
                                </table>
                                <table id="tabs-table-1" style="width:70%">
                                    <tr>
                                        <td>Zona: </td><td><input type="text" name="txtzona" id="txtzona" size="20"></td>
                                        <td>Mapa Acuicola: </td><td><input type="text" name="txtmapaacuicola" id="txtmapaacuicola" size="40" style="float:left;margin-right: 15px;margin-top: 5px" readonly>
                                                                    <a class="button" href="javascript:;" onClick="verDialogMapaAcuicola()" style="margin-top: 0px"><span class="icon icon198"></span><span class="label">Buscar</span></a></td>                                        
                                    </tr>
                                    <tr>
                                        <td>Área Otorgada:</td><td colspan="3"><input type="text" name="txtareaot" id="txtareaot" size="30"></td>
                                    </tr>
                                </table>
                                <table id="tabs-table-1" style="width: 70%">
                                    <tr>
                                        <td width="15%">Recurso Hídrico</td><td  width="20%">
                                            <input type="checkbox" name="chkrecurso" id="chkrecurso" value="recursoh" style="float:left;margin-right: 10px;margin-top: 5px">
                                            <a class="button" href="javascript:;" onClick="verDialogRecursoh()" style="margin-top: 0px"><span class="icon icon68"></span><span class="label">Agregar</span></a></td>
                                        <td width="20%">Tipo Recurso Hidríco</td><td  width="25%"><select name="sltiporecurso" id="sltiporecurso"><option value="0">--Seleccione--</option></select></td>      
                                        <td width="20%">Nombre Recurso Hidríco</td><td  width="20%"><select name="slrecursosxtipo" id="slrecursosxtipo"><option value="0">--Seleccione--</option></select></td>
                                    </tr>
                                    <tr>
                                        <td>Fecha Emisión:</td><td><input type="text" name="txtfecemisionsucursal" id="txtfecemisionsucursal" size="10"></td>
                                        <td >Fecha Vigencia:</td><td><input type="text" name="txtfvigenciasucursal" id="txtfvigenciasucursal" size="10"></td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <a class="button" href="javascript:;" onClick="verDialogAnexo(419)"><span class="icon icon68"></span><span class="label">Modificatorias</span></a>
                                             <div id="fileUploadNueSucursal">
                                                 <div class="fileUploadSucursal" style="width: 30%">
                                                     <a class="button" href="javascript:;" onClick="agregar_res_anexo();"><span class="icon icon189"></span><span class="label">Anexar RD</span></a>
                                                     <input id="archivosucursal" type="file" name="archivosucursal[]" multiple="multiple" onchange="validar_upload_file_sucursal();" style="margin-top: 7px;height: 28px;"/>
                                                 </div>
                                                 <input type="text" id="namearchivosucursal" size="25" style="margin-top: 6px;height: 25px" readonly>
                                             </div>
                                             <div id="fileUploadModSucursal">
                                                 <a class="button" href="javascript:;" onClick="downloadFile();"><span class="icon icon87"></span><span class="label">Ver RD</span></a>
                                                 <a href="javascript:;" onclick="editar_path()"><span class="btn" style="margin-left: 0px;margin-top: 8px"><i class="cus cus-arrow-refresh"></i></span></a>                                
                                             </div>
                                        </td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">Observaciones:<br>
                                            <textarea name="txtobservaciones" id="txtobservaciones" rows="5" cols="100"></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </div><!--End tabs-1-->

                            <div id="tabs-2">

                                <div style="width: 85%;"> 
                                    <div id="especies-contain" class="ui-widget" style="float: left;width: 850px;" >                                   
                                        <div style="border: 1px solid #000; width: 850px"><!--Border Scrol Bar-->
                                                <table class="ui-widget ui-widget-content" style="width: 850px;" cellpadding="0" cellspacing="0">
                                                    <thead>
                                                        <tr class="ui-widget-header"><th colspan="10" style="text-align: center"> COORDENADAS</th></tr>
                                                        <tr class="ui-widget-header ">
                                                            <th style="width: 75px">PUNTO</th>
                                                            <th style="width: 75px">ZONA</th>
                                                            <th style="width: 75px">LATITUD</th>
                                                            <th style="width: 75px">LONGITUD</th>
                                                            <th style="width: 75px">UTM NORTE</th>
                                                            <th style="width: 75px">UTM ESTE</th>
                                                            <th style="width: 75px">LAT</th>
                                                            <th style="width: 75px">LON</th>
                                                            <th style="width: 75px">AREA</th>
                                                            <th style="width: 75px">ACCIÓN</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <div style="overflow: auto;height: 400px; width: 850px;">
                                                    <table id="coordenadas-list" class="ui-widget ui-widget-content" style="width: 850px;" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div> 
                                             </div><!-- End Border Scrol Bar-->
                                    </div>                                
                                    <div id="especies-contain" class="ui-widget" style="float: left;padding-left: 50px;margin-top: 22px">   
                                        <table id="table-add-coordenadas" class="ui-widget ui-widget-content" style="width: 400px">
                                            <thead>
                                                <tr class="ui-widget-header ">
                                                    <th style="text-align: center" colspan="4">Ingresar Datos Coordenada</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr><td style="width: 20px">Punto:</td><td style="width: 20px"><input type="text" size="5" name="txtpuntocoordenada" id="txtpuntocoordenada"></td>
                                                    <td style="width: 20px">Zona:</td><td><select name="cbozonacoordenada" id="cbozonacoordenada">
                                                                      <option value="1">Zona 1</option>
                                                                      <option value="2">Zona 2</option>
                                                                      <option value="3">Zona 3</option>
                                                                      <option value="4">Zona 4</option>
                                                                      <option value="5">Zona 5</option>
                                                                      </select></td>
                                                </tr>
                                                 <tr>
                                                     <td colspan="4">Coordenadas Geograficas:<br>
                                                         <table id="table-coordenadas-geograficas" style="width: 200px">
                                                            <tr>
                                                               <td>Latitud:</td>
                                                               <td><input type="text" name="txtlatgrad" id="txtlatgrad"><div style="font-size: 20px;margin-top: -20px;margin-left: 40px">°</div></td>
                                                               <td><input type="text" size="5" name="txtlatmin" id="txtlatmin" ><div style="font-size: 20px;margin-top: -20px;margin-left: 40px">'</div></td>
                                                               <td><input type="text" size="5" name="txtlatseg" id="txtlatseg"><div style="font-size: 20px;margin-top: -20px;margin-left: 40px">"</div></td>
                                                            </tr>
                                                            <tr>
                                                               <td>Longitud:</td>
                                                               <td><input type="text" size="5" name="txtlongrad" id="txtlongrad"><div style="font-size: 20px;margin-top: -20px;margin-left: 40px">°</div></td>
                                                               <td><input type="text" size="5" name="txtlonmin" id="txtlonmin"><div style="font-size: 20px;margin-top: -20px;margin-left: 40px">'</div></td>
                                                               <td><input type="text" size="5" name="txtlonseg" id="txtlonseg"><div style="font-size: 20px;margin-top: -20px;margin-left: 40px">"</div></td>
                                                            </tr>
                                                        </table>   
                                                      </td>
                                                 </tr>
                                                 <tr>
                                                     <td colspan="4">Coordenadas UTM:<br>
                                                         <table>
                                                             <tr><td>Norte:</td><td><input type="text" size="30" name="txtutmnorte" id="txtutmnorte"></td></tr>
                                                             <tr><td>Este:</td><td><input type="text" size="30" name="txtutmeste" id="txtutmeste"></td></tr>
                                                             <tr><td>Datum:</td><td><select name="cbodatum" id="cbodatum">
                                                                                        <option value="PSAD56">PSAD 56</option>
                                                                                        <option value="WGS84">WGS84</option>
                                                                                    </select></td></tr>
                                                         
                                                         </table>                                                                                                                                                               
                                                     </td>  
                                                 </tr>
                                                 <tr>
                                                     <td colspan="4">Área (HA):<br>
                                                         <table>
                                                             <tr><td><input type="text" size="30" name="txtareacoordenada" id="txtareacoordenada"></td></tr>                                                             
                                                         </table>                                                                                                                                                               
                                                     </td>  
                                                 </tr>
                                                 <tr>
                                                    <td colspan="4"><a class="button" href="javascript:;" onClick="agregar_coordenadas()"><span class="icon icon67"></span><span class="label">Agregar</span></a>
                                                    <a class="button" href="javascript:;" onClick="eliminar_coordenada()"><span class="icon icon186"></span><span class="label">Eliminar</span></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="clear:left;"></div>                                
                                </div>   

                            </div><!--End tabs-2-->

                            <div id="tabs-3">

                                <div style="width: 85%;"> 
                                    <div id="especies-contain" class="ui-widget" style="float: left">                                   
                                        <div style="border: 1px solid #000; width: 400px">
                                                <table class="ui-widget ui-widget-content" style="width: 400px;" cellpadding="0" cellspacing="0">
                                                    <thead>
                                                        <tr class="ui-widget-header ">
                                                            <th style="width: 100px">Especie</th>
                                                            <th style="width: 100px">Familia</th>
                                                            <th style="width: 100px">Acción</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <div style="overflow: auto;height: 200px; width: 400px;">
                                                    <table id="especies-list" class="ui-widget ui-widget-content" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div> 
                                             </div>
                                            <table  style="width:400px ">
                                                <tr>
                                                    <td><input type="radio" name="radcultivo" id="radmonocultivo"> MONOCULTIVO</td>
                                                    <td><input type="radio" name="radcultivo" id="radpolicultivo"> POLICULTIVO</td>
                                                </tr>
                                                <tr><td colspan="2" style="text-align: center"> AGRUPACIÓN DE ESPECIES</td></tr>
                                                <tbody id="especies-grupo">
                                                </tbody> 
                                            </table>
    
                                    </div>                                
                                    <div id="especies-contain" class="ui-widget" style="float: left;padding-left: 100px;margin-top: 20px">   
                                        <table id="tabs-table-3" class="ui-widget ">
                                            <thead>
                                                <tr class="ui-widget-header ">
                                                    <th style="text-align: center" colspan="3">Seleccionar Especie</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Familia:</td>
                                                    <td>{{familia|raw('html')}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Especie:</td>
                                                    <td><select name="cboespecie" id="cboespecie"><option value="0">--Seleccione--</option></select></td>
                                                </tr>
                                                <tr>
                                                    <td>Nombre Cientifico:</td>
                                                    <td><input type="text" id="txtnomcientifico" size="25" readonly></td>
                                                </tr>
                                                <tr>
                                                    <td>Grupo de Especie:</td>
                                                    <td><input type="text" id="txtgrupoespecie" size="25" readonly>
                                                        <input type="hidden" id="txtgrupoespecieid" readonly></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><a class="button" href="javascript:;" onClick="agregar_especie()"><span class="icon icon67"></span><span class="label">Agregar</span></a>
                                                    <a class="button" href="javascript:;" onClick=""><span class="icon icon68"></span><span class="label">Nuevo</span></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="clear:left;"></div>                                
                                </div>      
                            </div>
                            <div id="tabs-4">

                                <div style="width: 85%;"> 
                                    <div id="especies-contain" class="ui-widget" style="float: left;width: 600px;" >                                   
                                        <div style="border: 1px solid #000; width: 600px"><!--Border Scrol Bar-->
                                                <table class="ui-widget ui-widget-content" style="width: 600px;" cellpadding="0" cellspacing="0">
                                                    <thead>
                                                        <tr class="ui-widget-header ">
                                                            <th style="width: 200px">RESOLUCIÓN</th>
                                                            <th style="width: 100px">F.EMISIÓN</th>
                                                            <th style="width: 100px">F.VIGENCIA</th>
                                                            <th style="width: 100px">ACCIÓN</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <div style="overflow: auto;height: 200px; width: 600px;">
                                                    <table id="resolucion-dicapi-list" class="ui-widget ui-widget-content" style="width: 600px;" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div> 
                                             </div><!-- End Border Scrol Bar-->
                                    </div>                                
                                    <div id="especies-contain" class="ui-widget" style="float: left;padding-left: 50px;margin-top: 22px">   
                                        <table id="table-add-resdicapi" class="ui-widget ui-widget-content" style="width: 500px">
                                            <thead>
                                                <tr class="ui-widget-header ">
                                                    <th style="text-align: center" colspan="4">Seleccionar Resolución</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>N° R.D. DICAPI:</td>
                                                    <td colspan="3"><input type="text" name="txtresoluciondicapi" id="txtresoluciondicapi" size="50"></td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 100px">Fecha&nbsp;Emisión:</td>
                                                    <td style="width: 100px"><input type="text" name="txtfecemisionresdicapi" id="txtfecemisionresdicapi" size="10"></td>
                                                    <td style="width: 100px"><label id="lblfecvigencia">Fecha&nbsp;Vigencia:</label></td>
                                                    <td style="width: 100px"><input type="text" name="txtfecvigenciaresdicapi" id="txtfecvigenciaresdicapi" size="10"></td>
                                                </tr>
                                                <tr>                                                    
                                                    <td colspan="4">
                                                        <input type="checkbox" name="chksinvigenciadicapi" id="chksinvigenciadicapi">
                                                        <div style="vertical-align: middle; margin-top: -18px;margin-left: 20px">Sin Fecha Vigencia</div></td>
                                                                                                       
                                                </tr>
                                                <tr>
                                                    <td colspan="4"><a class="button" href="javascript:;" onClick="agregar_resolucion_dicapi()"><span class="icon icon67"></span><span class="label">Agregar</span></a>
                                                                    <a class="button" href="javascript:;" onClick="eliminar_resolucion_dicapi()"><span class="icon icon186"></span><span class="label">Eliminar</span></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="clear:left;"></div>                                
                                </div>   
                            </div>
                            <div id="tabs-5"><!--tabs-5-->

                                <div style="width: 85%;"> 
                                    <div id="especies-contain" class="ui-widget" style="float: left;width: 800px">                                   
                                         <div style="border: 1px solid #000; width: 800px"><!--Border Scrol Bar-->
                                                <table class="ui-widget ui-widget-content" style="width: 800px;" cellpadding="0" cellspacing="0">
                                                    <thead>
                                                        <tr class="ui-widget-header ">
                                                            <th style="width: 50px">TIPO</th>
                                                            <th style="width: 150px">DESCRIPCIÓN</th>
                                                            <th style="width: 100px">FECHA EMISIÓN</th>
                                                            <th style="width: 100px">FECHA VIGENCIA</th>
                                                            <th style="width: 200px">OBSERVACIONES</th>
                                                            <th style="width: 50px">ACCIÓN</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <div style="overflow: auto;height: 200px; width: 800px;">
                                                    <table id="pth-sanitario-list" class="ui-widget ui-widget-content" style="width: 800px;" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div> 
                                             </div><!-- End Border Scrol Bar-->
                                    </div>                                
                                    <div id="especies-contain" class="ui-widget" style="float: left;padding-left: 50px ;margin-top: 22px">   
                                        <table id="add-table-cert-sani" class="ui-widget ui-widget-content" style="width: 500px">
                                            <thead>
                                                <tr class="ui-widget-header ">
                                                    <th style="text-align: center" colspan="4">Ingresar Datos</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="radio" name="rad_digitp" id="raddigesa" value="digesa">
                                                        <div style="vertical-align: middle; margin-top: -16px;margin-left: 20px">Digesa</div></td>
                                                    <td><input type="radio" name="rad_digitp" id="raditp" value="itp">
                                                        <div style="vertical-align: middle; margin-top: -16px;margin-left: 20px">ITP</div></td>
                                                    <td colspan="2"><input type="radio" name="rad_digitp" id="radsanipes" value="sanipes" checked>
                                                        <div style="vertical-align: middle; margin-top: -16px;margin-left: 20px">SANIPES</div></td>
                                                </tr>
                                                <tr>
                                                    <td>N° PTH Sanitario:</td>
                                                    <td colspan="3"><input type="text" name="txtpthsanitario" id="txtpthsanitario" size="30"></td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 100px">Fecha&nbsp;Emisión:</td>
                                                    <td style="width: 100px"><input type="text" name="txtfecemisionpth" id="txtfecemisionpth" size="10"></td>
                                                    <td style="width: 100px"><label id="lblfecvigenciapth">Fecha&nbsp;Vigencia:</label></td>
                                                    <td style="width: 100px"><input type="text" name="txtfecvigenciapth" id="txtfecvigenciapth" size="10"></td>
                                                </tr>
                                                <tr>                                                    
                                                    <td colspan="4" style="height: 20px">
                                                        <div id="comtenedor-check-fech-vigencia">
                                                            <input type="checkbox" name="chkvigenciapth" id="chkvigenciapth">
                                                            <div style="vertical-align: middle; margin-top: -16px;margin-left: 20px">Sin Fecha Vigencia</div>
                                                        </div></td>
                                                </tr>
                                                <tr>                                                    
                                                    <td colspan="4">Observaciones:<br><br>
                                                        <textarea name="txtareaobservacionpth" id="txtareaobservacionpth" rows="5" cols="50"></textarea>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td colspan="4"><a class="button" href="javascript:;" onClick="agregar_pth_sanitario()"><span class="icon icon67"></span><span class="label">Agregar</span></a>
                                                                    <a class="button" href="javascript:;" onClick="eliminar_pth_sanitario()"><span class="icon icon186"></span><span class="label">Eliminar</span></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="clear:left;"></div>                                
                                </div>   
                            </div><!--End tabs-5-->
                            
                            <div id="tabs-6"><!--tabs-6-->

                                <div style="width: 85%;"> 
                                    <div id="especies-contain" class="ui-widget" style="float: left;width: 700px">                                 
                                         <div style="border: 1px solid #000; width: 700px"><!--Border Scrol Bar-->
                                                <table class="ui-widget ui-widget-content" style="width: 700px;" cellpadding="0" cellspacing="0">
                                                    <thead>
                                                      
                                                        <tr class="ui-widget-header ">
                                                            <th style="width: 100px">TIPO</th>
                                                            <th style="width: 200px">NUMERO DE DIA/EIA</th>
                                                            <th style="width: 100px">FECHA EMISIÓN</th>
                                                            <th style="width: 100px">OBSERVACIONES</th>
                                                            <th style="width: 100px">ACCIÓN</th>
                                                        </tr>
                                                       
                                                    </thead>
                                                </table>
                                                <div style="overflow: auto;height: 280px; width: 700px;">
                                                    <table id="dia-eia-resolucion-list" class="ui-widget ui-widget-content" style="width: 700px;" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div> 
                                             </div><!-- End Border Scrol Bar-->
                                    </div>                                
                                    <div id="especies-contain" class="ui-widget" style="float: left;padding-left: 50px ;margin-top: 22px">   
                                        <table id="add-tablle-dia-eia" class="ui-widget ui-widget-content" style="width: 500px">
                                            <thead>
                                                <tr class="ui-widget-header ">
                                                    <th style="text-align: center" colspan="4">Ingresar Resolución</th>
                                                </tr>
                                            </thead>
                                            <tbody> 
                                                <tr>
                                                    <td><input type="radio" name="rad_diaeia" id="raddia" value="dia" checked>
                                                        <div style="vertical-align: middle; margin-top: -16px;margin-left: 20px">DIA</div></td>
                                                    <td><input type="radio" name="rad_diaeia" id="radeia" value="eia">
                                                        <div style="vertical-align: middle; margin-top: -16px;margin-left: 20px">EIA</div></td>
                                                </tr>
                                                <tr>
                                                    <td>N° R.D. que aprueba Día/EIA:</td>
                                                    <td colspan="3"><input type="text" name="txtresoluciondiaeia" id="txtresoluciondiaeia" size="30"></td>
                                                </tr>
                                                <tr>
                                                    <td>Fecha&nbsp;Emisión:</td>
                                                    <td><input type="text" name="txtfecemisiondiaeia" id="txtfecemisiondiaeia" size="10"></td>
                                                </tr>
                                                <tr>                                                    
                                                    <td colspan="4" style="height: 20px">
                                                        <div id="comtenedor-check-fech-vigencia">
                                                            <input type="checkbox" name="chkemisiondiaeia" id="chkemisiondiaeia">
                                                            <div style="vertical-align: middle; margin-top: -16px;margin-left: 20px">Sin Fecha Vigencia</div>
                                                        </div></td>                                                    
                                                </tr>
                                                <tr>                                                    
                                                    <td colspan="4">Observaciones:<br><br>
                                                        <textarea name="txtareaobservaciondiaeia" id="txtareaobservaciondiaeia" rows="5" cols="50"></textarea>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td colspan="4"><a class="button" href="javascript:;" onClick="agregar_resolucion_dia_eia()"><span class="icon icon67"></span><span class="label">Agregar</span></a>
                                                                    <a class="button" href="javascript:;" onClick="eliminar_resolucion_dia_eia()"><span class="icon icon186"></span><span class="label">Eliminar</span></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="clear:left;"></div>                                
                                </div>   


                            </div><!--End tabs-6-->
                        </div>                        
                        <a class="button" href="javascript:;" onClick="guardar_sucursal()"><span class="icon icon67"></span><span class="label">Guardar</span></a>
                        <a class="button" href="javascript:;" onClick="salir_sucursal()"><span class="icon icon151"></span><span class="label">Salir</span></a>
                    </div>
                    <div id="dialogRecursoh"></div>
                    <div id="dialogDicapi"></div>
                    <div id="dialogMapaAcuicola"></div>
                    <div id="dialogEmpresa"></div>
                    <div id="dialogAnexo"></div>

{%endblock%}

