{% extends 'ServiciosBundle::plantillas/portadas/intranet.html.twig' %}
{% block stylesheet%}
{{parent()}}
<link rel="stylesheet" href="{{asset('bundles/sitradoc/css/sitradoc.css')}}">
<link rel="stylesheet" href="{{asset('plugins/jquery-ui/css/smoothness/jquery-ui-1.10.3.custom.css')}}">
<link rel="stylesheet" href="{{asset('plugins/iconos/cus-icons.css')}}" />
<link rel=stylesheet type=text/css href="{{asset('plugins/pmce/cs/estylepmce.css')}}">
<link rel="stylesheet" type="text/css" media="screen" href="{{asset('plugins/JAlert/jquery.alerts.css')}}" />

{% endblock%}

{% block javascript%}
{#{parent()}#}
<script type="text/javascript" src="{{asset('plugins/jquery/jquery-1.8.3.js')}}"></script>
<script type="text/javascript" src="{{asset('plugins/comboAdd/comboAdd.js')}}"></script>
<script type="text/javascript" src="{{asset('plugins/jquery-ui/js/jquery-ui-1.10.3.custom.js')}}"></script>
<script type="text/javascript" src="{{asset('plugins/jquery-ui/js/jquery-ui-1.10.3.custom.min.js')}}"></script>
<script type="text/javascript" src="{{asset('plugins/jqgrid/js/i18n/grid.locale-es.js')}}"></script>
<script type="text/javascript" src="{{asset('plugins/jqgrid/js/jquery.jqGrid.src.js')}}"></script>
<script type="text/javascript" src="{{asset('plugins/JAlert/jquery.alerts.js')}}"></script>
<script type=text/javascript src="{#{asset('plugins/msgbox/jquery.dragndrop.min.js')}#}"></script>
<script type=text/javascript src="{{asset('plugins/msgbox/jquery.msgbox.js')}}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        /* LUIS SANTOS*/
        $("#radio").buttonset();
        $("#magnitud").buttonset();
        $(".spinner").spinner({
            width: 50,
            min: 1,
            max: 20
        });
        $(".boton").button();
        /*end LUIS SANTOS*/
        $(".capa-negra").css("display", "none");
        $(".capa-negra-papa").css("display", "none");
        $("#procesar").click(function() {
            $("#contend-tabla1").empty();
            $("#contend-tabla2").empty();
            $("#_disabled").attr('id', 'calcul')
            var slec1 = $("#Category_options1").val();
            var slec2 = $("#Category_options2").val();
            agregar_listaaporta(slec1);
            $("#aportantes").css("display", "block");
            agregar_listarecepto(slec2);
            $("#receptores").css("display", "block");
            $("#calcul").css("display", "block");
        });

        function agregar_listaaporta(data) {
            var content_listaaporta = "";
            for (var l = 0; l < data; l++) {
                content_listaaporta += "<tr>";
                for (var i = 0; i < 12; i++) {
                    if (i == 0)
                        content_listaaporta += "<td> <input type='text' class='listt input-id" + i + "'  > </td>";
                    else
                        content_listaaporta += "<td> <input type='text' class='listt input-id" + i + "' readonly > </td>";
                    $("#es").html(content_listaaporta);
                }
                content_listaaporta += "</tr>";
            }
        }
        function agregar_listarecepto(data) {
            var content_listarecepto = "";
            for (var n = 0; n < data; n++) {
                content_listarecepto += "<tr>";
                for (var i = 0; i < 13; i++) {
                    if (i == 0 || i == 12)
                        content_listarecepto += "<td> <input type='text' class='listt input-id" + i + " ' > </td>";
                    else
                        content_listarecepto += "<td> <input type='text' class='listt input-id" + i + " ' readonly > </td>";
                    $("#es2").html(content_listarecepto);
                }
                content_listarecepto += "</tr>";
            }
        }
        var content = [];

        var data0 = ["12926", "DOÑA RITA", "Ley N25977", "487.00", "VIGENTE", "0.265610%", "2,151.77", "2,151.44", "0,00", "0.33", "NO BENEFICIO", "NO BENEFICIO"];
        var data1 = ["2412", "MERLIN", "Ley N25977", "371.93", "VIGENTE", "0.140130%", "1,135.22", "1,135.05", "0,00", "0.17", "NO BENEFICIO", "NO BENEFICIO"];
        var data2 = ["229", "SIMY 4", "Ley N25977", "372.60", "VIGENTE", "0.172540%", "1,397.78", "1,397.57", "0,00", "0,21", "NO BENEFICIO", "NO BENEFICIO"];

        var data3 = ["14268", "IPANEMA", "Ley N25977", "296,44", "VIGENTE", "0,16626%", "1.346,92", "1.346,71", "0,00", "0,21", "NO BENEFICIO", "NO BENEFICIO"];
        var data4 = ["10437", "CARMEN JUDITH 1", "Ley N25977", "296,39", "SUSPENDIDO", "0,11919%", "965,59", "965,44", "0,00", "0,15", "NO BENEFICIO", "NO BENEFICIO"];
        var data5 = ["192", "SUSANA", "Ley N25977", "295,87", "VIGENTE", "0,11321%", "917,14", "917", "0,00", "0,14", "NO BENEFICIO", "NO BENEFICIO"];

        var data6 = ["17970", "ARCA DE NOE", "Ley N26920", "62,89", "VIGENTE", "0,034050%", "275,85", "275,81", "0,00", "0,04", "NO BENEFICIO", "NO BENEFICIO"];
        var data7 = ["20333", "SIEMPRE ROSITA YANET", "Ley N26920", "62,49", "VIGENTE", "0,040660%", "329,40", "329,35", "0,00", "0,05", "NO BENEFICIO", "NO BENEFICIO"];
        var data8 = ["15664", "ISABELLA", "Ley N26920", "62,49", "VIGENTE", "0,040850%", "330,94", "330,89", "0,00", "0,05", "NO BENEFICIO", "NO BENEFICIO", "NO BENEFICIO"];
        var data9 = ["4826", "CAJAMARCA 6", "Ley N25977", "395,14", "VIGENTE", "0,168910%", "1.368,38", "1.368,17", "0,00", "0,21", "NO BENEFICIO", "NO BENEFICIO"];

        var data10 = ["1854", "SANTOÑA II", "Ley N25977", "140.69", "VIGENTE", "0.065450%", "530.23", "530.15", "0,00", "0.08", "NO BENEFICIO", "NO BENEFICIO"];
        var data11 = ["957", "TAMBO 2", "Ley N25977", "196.19", "SUSPENDIDO", "0.075060%", "608.08", "607.99", "0,00", "0.09", "NO BENEFICIO", "NO BENEFICIO"];
        var data12 = ["6614", "MANTA 3", "Ley N25977", "196.13", "VIGENTE", "0.073560%", "595.93", "595.84", "0,00", "0.09", "NO BENEFICIO", "NO BENEFICIO"];

        var data13 = ["17970", "ARCA DE NOE", "Ley N26920", "62.89", "VIGENTE", "0.034050%", "275.85", "275.81", "0,00", "0,04", "NO BENEFICIO", "NO BENEFICIO"];
        var data14 = ["20333", "SIEMPRE ROSITA YANET", "Ley N26920", "62.49", "VIGENTE", "0.040660%", "329.40", "329.35", "0,00", "0,05", "NO BENEFICIO", "NO BENEFICIO"];
        var data15 = ["15664", "ISABELLA", "Ley N26920", "62.49", "VIGENTE", "0.040850%", "330.94", "330.89", "0,00", "0,05", "NO BENEFICIO", "NO BENEFICIO"];




        var arr = [
            {id: "4052", tag: "COMANCHE II", placa: "CE-4052-PM", ley: "Decreto Ley N25977", mtres: "314,75", esta: "VIGENTE", pmc: "0,16965%", lmce: "1.374,38", lmce2: "1.374,17", cero: "0,00", dato: "0,21", bene: "NO FIGURA BENEFICIO"},
            {id: "4052", tag: "coco II", placa: "CE-4052-PM", ley: "Decreto Ley N25977", mtres: "314,75", esta: "VIGENTE", pmc: "0,16965%", lmce: "1.374,38", lmce2: "1.374,17", cero: "0,00", dato: "0,21", bene: "NO FIGURA BENEFICIO"},
            {id: "c", tagName: "li"}
        ];
        content.push(data0);
        content.push(data1);
        content.push(data2);
        content.push(data3);
        content.push(data4);
        content.push(data5);
        content.push(data6);
        content.push(data7);
        content.push(data8);
        content.push(data9);
        content.push(data10);
        content.push(data11);
        content.push(data12);
        content.push(data13);
        content.push(data14);
        content.push(data15);

        $(".agrega").click(function() {
            var pos_fila = $(".agrega").attr("rel");
            var pos = $(".search2").val();
            //    console.log(" :" + pos);
            buscatext(content, pos);
            var ar = pos_fila.split("-");
            var tt = ar[0];
            for (var r = 0; r <= 12; r++) {
                $(".input-id" + r).eq(tt).val(content[pos][r]);
            }
            $(".capa-negra-papa").css("display", "none");
        });

        $("#clibuscar").live("click", function() {
            var al = $(this).val();
//@phd            alert(al);
            $(".capa-negra-papa").css("display", "none");
        });


        function buscatext(data, text) {
            $("#log").empty();
            for (var i in data) {
                for (var a = 2; a <= data[i][1].length; a++) {
                    if (text.toUpperCase() === data[i][1].substring(0, a)) {
                        $("#log").append('<li id=clibuscar >' + data[i][1] + '</li>');
                        //       console.log(data[i][1]);
                    }
                }
                //    console.log("---");
            }
            return data[i][1];
        }

        $(".input-id1").live("click", function(ev) {
            $(".capa-negra-papa").css("display", "block");
            var hi = $(".input-id1").index(this);
            $(".agrega").attr("rel", hi + "-1");
        });

        $(".cierre").live("click", function() {
            $(".capa-negra-papa").css("display", "none");
        });

        $(".input-id0").live("keydown", function(tecla){
            var hi = $(".input-id0").index(this);
            if (tecla.keyCode == 13){
                var pos = $(".input-id0").eq(hi).val();
                $.ajax({
                    type: "POST",
                    dataType: "text",
                    data: "id_embar=" + pos,
                    url: "{{path('_datos_embarcaciones')}}",
                    success: function(e) {
                        $(".ajax-icon").css("display", "none");
                        var mydata = $.parseJSON(e);  // var mydata = jQuery.parseJSON(e);// JSON.parse(e);
                        //         if(mydata=="")){}
                        var myarray = [];
                        myarray.push(mydata[0]["ID_EMB"]);
                        myarray.push(mydata[0]["EMBARCACION"]);
                        myarray.push(mydata[0]["REGIMEN"]);
                        myarray.push(mydata[0]["CAP_BOD_AUT"]);
                        myarray.push(mydata[0]["ESTADO_PERMISO"]);
                        myarray.push(mydata[0]["PMCE"]);
                        myarray.push(mydata[0]["LMCE"]);
                        myarray.push(mydata[0]["ID_EMB"]);
                        myarray.push(mydata[0]["DSCTO_LMCE"]);
                        myarray.push(mydata[0]["REDISTRIB_DSCTO"]);
                        myarray.push("NO FIGURA");//mydata[0]["ZONA"]   //mydata[0]["USUARIO"]
                        myarray.push("NO FIGURA");
                        for (var n = 0; n < 12; n++) {
                            $(".input-id" + n).eq(hi).val(myarray[n]);
                        }
                    }
                });
            }
            else if (tecla.which == 38) {
                $(".input-id0").eq(hi - 1).focus();
            } else if (tecla.which == 40) {
                $(".input-id0").eq(hi + 1).focus();
            }
        });

$("input[name='radio-proporcion']").click(function(){
  if($(this).val()=="radio2")
   $(".input-id12").css("display", "none");
   
  if($(this).val()=="radio1")
   $(".input-id12").css("display", "block");
 });                                                                          
                                                                                  
                                              
        $("#calcul").click(function() {
            var validar = 0;
            $("#calcul").attr('id', '_disabled');
            var cad = "";
            $(".input-id0").each(function(i) {
                var po = $(".input-id0").eq(i).val();
                if (po === "") {
                    jAlert("Debe ingresar Embarcaciones", "Falta Embarcacion");
                    jAlert("  ", "Falta Embarcacion");
                    validar = 1;
                    return false;
                }
                cad += "&codem" + i + "=" + po + "";
            });
            if (validar === 1)
                return false;
            var distri = "";
            var sumid12 = 0;
            
            if ($("input[name='radio-proporcion']:checked").val() == "radio1"){
                $(".input-id12").each(function(n) {
                    var dat = $(".input-id12").eq(n).val();
                    sumid12 += parseInt(dat);
                    if (dat === "") {   
                        validar = 2;    
                        jAlert("Falta ingresar" + (n + 1) + " Embarcacion distribucion "); //  alert("Falta ingresar " +  "º !");
                        return false;   
                    }                   
                    distri += "&distr" + n + "=" + dat + "";
                });

                if ($("input[name='radio-magnitud']:checked").val() == "radio1") {
                    if (sumid12 > 100){
                        validar = 2;    
                        jAlert("Excede el porcentaje cambie a m&sup3;"); //  alert("Falta ingresar " +  "º !");
                        return false    
                    }                   
                }
                if ($("input[name='radio-magnitud']:checked").val() == "radio2"){
                    if (sumid12 > 100)
                        jAlert("Tipo de datos en m&sup3; "); //  alert("Falta ingresar " +  "º !");
                }

                $(".input-id3").each(function(n) {
                    var dat = $(".input-id3").eq(n).val();
                    distri += "&capbode" + n + "=" + dat + "";
                });

            }//else{ $(".input-id12").css("background-color", "#E6E6E6");   }

            if (validar===2)
                return false;
            var item_me=$(".titulo-pmce").attr("rel");
            if (validar===0){
                alert("viaja a ser convertido en PDF");
                //@phd@  insertar_solicitud(cad + "&item=" + item_me + distri);
            }
        });     
                
        function insertar_solicitud(cad) {
            $.ajax({
                type: "POST",
                url: "{{path('_insert_3')}}",
                data: $("#form-param").serialize() + cad,
                dataType: "text",
                success: function(e) {
                    alert(" " + cad + " ..." + e); //@phd
                    $("#reporte").click();
                }
            });
        }
        $("#reporte").click(function() {
//     document.onload();
//     window.open("{#{path('_reporte_pmce')}#}","target");
            window.location = "{{path('_reporte_pmce3')}}";
        });
    });
    </script>

{% endblock javascript%}

{%block name%}

{%endblock%}



{%block panel1%}
    <div class="titulo-pmce" style="
         color: #ffffff;
         font-size:24px;
         text-align: center;
         padding:1%;
         border: 2px #004467 solid;
         background-color: #004467;
         background-image: -o-linear-gradient(top, #004467 7%, #2E6C91 93%);
         background-image: -moz-linear-gradient(top, #004467 7%, #2E6C91 93%);
         background-image: -webkit-gradient(linear, 0% 12%, 0% 120%, from(#004467), to(#2E6C91));
         background-image: -webkit-linear-gradient(top, #004467 7%, #2E6C91 93%);
         -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr='#004467', endColorstr='#2E6C91', gradientType='0')';
         " rel="2"  >Sustitución (Incremento de Flota)</div>


         <div id="form-1" >
             <div style="margin:0 auto; width: 40%;padding-top: 31px;">
                 <form id="form-param" >
                     <table>
                         <tr>
                             <td width="17%">Aportantes:</td>
                             <td>
                                 <input class="spinner"  name="aportantes" id="Category_options1" value="1"  size="1" type="text" />
                             </td>
                             <td width="16%">Receptores:</td>
                             <td >
                                 <input class="spinner"  name="receptores" id="Category_options2" value="1"  size="1" type="text" />
                             </td>
                         </tr>
                         <tr>
                             <td >Distribuci&oacute;n&nbsp;/&nbsp;Equitativo:</td>
                             <td>
                                 <div id="radio">
                                     <input type="radio" id="radio1" name="radio-proporcion" value="radio1" checked="checked"/><label for="radio1">D</label>
                                     <input type="radio" id="radio2" name="radio-proporcion" value="radio2" /><label for="radio2">E</label>
                                 </div>
                             </td>
                             <td >Tipo de Magnitud:</td>
                             <td>
                                 <div id="magnitud">
                                     <input type="radio" id="magnitud1" name="radio-magnitud"  value="radio1" checked="checked"/><label for="magnitud1"><b>%</b></label>
                                     <input type="radio" id="magnitud2" name="radio-magnitud"  value="radio2"/><label for="magnitud2">m&sup3;</label>
                                 </div>
                             </td>
                             <td width="10%"><input type="button" id="procesar" class="boton" value="Procesar"></td>
                         </tr>

                     </table>
                 </form>
             </div>
         </div>


         <div id="conten">
             <div class="capa-negra-papa" style="position: absolute">
                 <div class="capa-negra-sub2" >
                 </div>       

                 <div id="tolltip" style="z-index:11;width: 300px;height: 300px; margin: auto;margin-top:5%;background-color: white; border:4px solid skyblue; position:relative;top: 50%;left:50%">
                     <div style="
                          background-image: -moz-linear-gradient(center top,#46b9ed 7%, #2E6C91 93%);
                          background-image: -webkit-linear-gradient(top, #46b9ed 7%, #2E6C91  93%);
                          color: #FFFFFF;font-size: 13px;font-weight: bold;padding: 10px 4px 4px 0;
                          position: relative;text-align: center;margin-bottom: 27px;" >
                              Busqueda por Enbarcaci&oacute;n  <div class="cierre" > <i class="cus cus-cancel"></i> </div>

                          </div>
                          <div class="ui-widget">
                              <div class="cont_id"></div>
                              <input class="search2" id="search2" value="3"  />  <input type="submit" class="agrega" value="buscar" />
                          </div>
                          <div class="ui-widget" style="margin-top: 2em; font-family: Arial;">
                              Resultado:
                              <div id="log" style="height:164px;width: 300px; overflow: auto;" class="ui-widget-content"></div>
                          </div>
                     </div>
                 </div>

                 <div id="aportantes">
                     <p class="grid-cabecera">Aportantes</p>
                     <table  border="1" width="100%" >
                         <thead id="deco_1" >
                             <tr>
                                 <td width="8%"> Matrícula</td>
                                 <td width="12%"> Embarcación</td>
                                 <td width="8%"> R&eacute;gimen</td>
                                 <td width="8%"> Capacidad Bod.Neta m3</td>
                                 <td width="8%"> Permiso de pesca</td>
                                 <td width="8%"> PMCE</td>
                                 <td width="8%"> LMCE</td>
                                 <td width="8%"> Cuota Asignada</td>
                                 <td width="8%"> Descuent</td>
                                 <td width="8%"> Redist. Descue.</td>
                                 <td width="8%"> Con Beneficio</td>
                                 <td width="8%"> Sin Beneficio</td>
                             </tr>
                         </thead>
                         <tbody id="es">
                             <!-- 
                             <tr> 
                             <td>feoegrer
                             <input class="listt input-id0" type="text" value="endotesi ">
                             </td>
                             </tr>
                             -->   
                         </tbody>
                     </table>
                 </div>
                 <div style="clear: both" ></div>
                 </br>
                 <div id="receptores">
                     <p class="grid-cabecera"> Receptores</p>
                     <table  border="1" width="100%" >
                         <thead id="deco_2">
                             <tr>
                                 <td width="8%"> Matrícula</td>
                                 <td width="11%"> Embarcación</td>
                                 <td width="7%"> Régimen</td>
                                 <td width="7%"> Capacidad Bod.Neta m3</td>
                                 <td width="8%"> Permiso de pesca</td>
                                 <td width="4%"> PMCE </td>
                                 <td width="4%"> LMCE </td>
                                 <td width="7%"> Cuota Asignada </td>
                                 <td width="7%"> Descuent </td>
                                 <td width="7%"> Redist. Descue. </td>
                                 <td width="7%"> Con Beneficio </td>
                                 <td width="7%"> Sin Beneficio </td>
                                 <td width="10%"> <p style="color: #2149ed;font-weight: bold;">Nueva C. Bodega</p>  </td>
                             </tr>
                         </thead>
                         <tbody id="es2">
                         </tbody>
                     </table>
                     <div id="contend-tabla2"></div>
                 </div>
                 <input type="submit" value="Calcular" id="calcul" >

                 <div id="reporte"> </div>

                 <div id="" >
                     <ul>
                    {#% for user in empresa_tripu %#}
                    {#{ user.descripcion }#}
                    {#% endfor %#}
                         </ul> 
                     </div>
                 </div>
{%endblock%}

