<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf>
    <dynamic-page>
        <placeholders>
            <header>
                <div height="55px" width="100%"   color="blue" text-align="center" font-style="bold" >
                 REPORTE PARA INFORME
                 <br></br><span color="black">  ANEXO N° 1 </span>
                </div>
                
            </header>
        </placeholders>
            
        <div>
            
            <div text-align="center"  font-style="bold" margin-top="20px" margin-bottom="20px">
               Cálculo de PMCE y LMCE
               <br></br>
               2da. TEMPORADA DE PESCA DE ANCHOVETA EN LA ZONA NORTE-CENTRO 2012
            </div>

 
            <div text-align="justify">
            </div>
                
                <div margin='5px'  padding-left="30px" >
                      <span font-style="bold">I. PMCE y LMCE asignados</span> 
                
                </div>  
            <table>
                <tr color="white" background-color="#004163"  font-style="bold" >
                    <td>Embarcación </td>
                    <td>Matrícula</td>
                    <td>Régimen</td>
                    <td>Capacidad de Bodega Neta Autorizada (M3)</td>
                    <td>Permiso de pesca</td>
                    <td  color="black" background-color="white">PMCE %</td>
                    <td  color="black" background-color="white">LMCE 1/ 2/ </td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
            </table>
        </div>
            
        
        <br> </br>
        <div>
        Nota:(*) PMCE y LMCE calculado y publicado en la   RD Nº 843-2008-PRODUCE/DGEPP    y   RD Nº 015-2012-PRODUCE/DGCHI  , respectivamente.
        <br></br>
        () PMCE y LMCE calculado vía asociación definitiva de otras E/P, aprobado mediante la RD Nº 015-2013-PRODUCE/DGCHI
        <br></br>
        1/ Para la obtención del Límite Máximo de Captura por Embarcación en TM se ha tomado una cuota global de  TM para la especie anchoveta, la cual ha sido establecida por IMARPE 
        <br></br>
        2/ Dicho LMCE  incluye el incremento asignado por la redistribución del volumen descontado a las embarcaciones que sobrepasaron su LMCE la temporada anterior (Art.27° del D.L N° 1084),  que esta considerado en el listado de LMCE aprobado mediante la
        </div>
          
         <br></br>
        

{% for row in info %}   
<br></br>
<br></br>
         <table>
                <tr color="white" background-color="#004163"  font-style="bold" >
                    <td>Embarcación </td>
                    <td>Matrícula</td>
                    <td>Régimen</td>
                    <td>Capacidad de Bodega Neta Autorizada (M3)</td>
                    <td>Permiso de pesca</td>
                    <td  color="black" background-color="white">PMCE %</td>
                    <td  color="black" background-color="white">LMCE 1/ 2/ </td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
                
                <tr>
                   <td>{{row.EMBARCACION}}</td>
                   <td>{{row.MATRICULA}}</td>
                   <td>{{row.REGIMEN}}</td>
                   <td>{{row.CAP_BOD_M3}}</td>
                   <td>{{row.porcentaje_aportacion}}</td>
                   <td>{{row.pmce_calculado}}</td>
                   <td>{{row.lmce_calculado}}</td>
                </tr>
                 <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
            </table>           
{% endfor %}
        
        </dynamic-page>
    </pdf>







 




