{% extends 'ServiciosBundle::plantillas/portadas/intranet.html.twig' %}
{% block stylesheet%} 
{{parent()}}
<link rel="stylesheet" href="{{asset('plugins/menu/css/general.css')}}" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{asset('plugins/menu/ddsmoothmenu.css')}}" />
<link rel="stylesheet" type="text/css" href="{{asset('plugins/menu/ddsmoothmenu-v.css')}}" />
<link rel="stylesheet" href="{{asset('plugins/iconos/cus-icons.css')}}" />
<style>
        .menu-content{
            background: #004467;
            position:relative;
            height: 30px;
        }
        .titulo{
            position:absolute;
            top:5px;
            right: 5px;
            color:#ffffff;
            font-weight: bold;
        }
       .esp-td{}
       .esp-td td{padding: 5px}
       
       /*DataTables*/
        .dataTables_length{margin-bottom: 25px;font-size: 12px;margin-top: 10px}
        .dataTables_filter{margin-bottom: 18px;font-size: 12px;margin-top: -38px}
        .paging_full_numbers{margin-top: -13px}
        .dataTables_info{margin-top: 15px}
        .btn{margin-left: 10px}
       
    </style>
    <link rel="stylesheet" href="{{asset('plugins/datatable/media/css/demo_table.css')}}">
{% endblock%} 

{% block javascript%} 
{{parent()}}
    <script type="text/javascript" src="{{asset('plugins/menu/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('plugins/menu/ddsmoothmenu.js')}}"></script>
    <script type="text/javascript">
        ddsmoothmenu.init({
            mainmenuid: "smoothmenu1", //menu DIV id
            orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
            classname: 'ddsmoothmenu', //class added to menu's outer DIV
            //customtheme: ["#1c5a80", "#18374a"],
            contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
        })
        </script>
        <!-- Para el Datatable -->
        <script type="text/javascript" src="{{asset('plugins/datatable/media/js/jquery.js')}}"></script>
        <script type="text/javascript" src="{{asset('plugins/datatable/media/js/jquery.dataTables.js')}}"></script>

        <script type="text/javascript">

            $(document).ready(function() {
                /*--------------INSTANCIA DE PLUGINS--------------------*/
                    $("#grilla-especies").dataTable( {
                        "aaSorting": [[1,'asc']],
                        "bProcessing": true,
                        "bServerSide": true,
                        "sPaginationType": "full_numbers",
                        "oLanguage"	: {
                                "oPaginate" : { 
                                        "sFirst" : "Primero",
                                        "sNext" : "Siguiente",
                                        "sPrevious" : "Anterior",
                                        "sLast" : "Ultimo"
                                },
                                "sInfo" : "_START_ a _END_ de _TOTAL_ registros",
                                "sLengthMenu": "Mostrar _MENU_ registros",
                                "sSearch": "Buscar: ",
                                "sProcessing": "Procesando Informaci&oacute;n...",
                                "sInfoFiltered": "(Filtrado de un total de _MAX_ registros)",
                                "sZeroRecords": "No se encontro registros",
                                "sInfoEmpty": "No hay registros para mostrar"

                        },

                        "iDisplayLength": 20,
                        "aLengthMenu": [ 20,50,100 ],
                        //"bJQueryUI" : true,
                        "sAjaxSource": "{{path('listadoEspecies')}}",
                        /*
                        "fnServerParams": function ( aoData ) {
                                   aoData.push( { "name": "codigo_sucursal", "value":} )
                        },
                        */
                        "fnCreatedRow" : function (nRow, aData, iDataIndex) { 
                                //$(nRow.getElementsByTagName('td')[0]).attr("hidden","true");
                                $(nRow.getElementsByTagName('td')[0]).css("display","none");
                        },

                        "fnHeaderCallback": function( nHead, aData, iStart, iEnd, aiDisplay ) {
                                //$(nHead.getElementsByTagName('th')[0]).attr("hidden","true");
                                $(nHead.getElementsByTagName('th')[0]).css("display","none");
                        }
                    });
                
                
            });
            
            function editar_especie(id){
                $.post('{{path('devolverEspecie')}}',{id:id},function(data){
			
                       $("#des_especie").val(data.especie);	
                       $("#nom_cientifico").val(data.nombre_cientifico);
                       $("#cbofamilia").val(data.id_familia);  
                       
                       $("#lblTitulo").text('Actualizar Especie');
                       
                       $("#cod_especie").val(data.id);
                       $("#cbogrupoespecie").val(data.COD_GRUPO_ESPECIE);
                       
                       $("#des_especie").focus();
                       
                       
		},'json');
            }
            function guardar_especie(){
                
                msg='';
               
                if(!$("#cbofamilia").val()){
                    msg+='Seleccione Familia \n';
                }
                if(!$("#cbogrupoespecie").val()){
                    msg+='Seleccione Grupo de Especie \n';
                }
                if(!$("#des_especie").val()){
                    msg+='Ingrese Nombre de Especie \n';
                }
                if(!$("#nom_cientifico").val()){
                    msg+='Ingrese Nombre Cientifico de Especie \n';
                }
                if(msg!=''){
                    alert(msg);
                    return false;
                }else{
                    if($("#cod_especie").val()==''){
                        $.ajax({
                            type: "POST",
                            url: "{{path('guardarEspecieNueva')}}",
                            async: "true",
                            data: { especie: $("#des_especie").val(),cientifico:$("#nom_cientifico").val(),familia:$("#cbofamilia").val(),usuario:$("#user_intranet").val(),grupoespecie: $("#cbogrupoespecie").val()}
                            }).done(function(msg) {
                                if(msg==1){
                                    alert('Datos Guardados Correctamente');
                                    $("#grilla-especies").dataTable().fnDraw();
                                    
                                }else if(msg==0){
                                    alert('Fallo en el registro!');
                                }

                            });
                     }else{
                        $.ajax({
                            type: "POST",
                            url: "{{path('actualizarEspecie')}}",
                            async: "true",
                            data: {cod_especie: $("#cod_especie").val(), especie: $("#des_especie").val(),cientifico:$("#nom_cientifico").val(),familia:$("#cbofamilia").val(),usuario:$("#user_intranet").val(),grupoespecie: $("#cbogrupoespecie").val()}
                            }).done(function(msg) {
                                if(msg==1){
                                    alert('Datos Actualizados Correctamente');
                                    $("#grilla-especies").dataTable().fnDraw();
                                    
                                }else if(msg==0){
                                    alert('Fallo la Actualización!');
                                }

                            });
                     }
                }
                
            }
           function cancelar(){
                if($("#des_especie").val() || $("#nom_cientifico").val() || $("#cbofamilia").val()){
                    if (confirm('¿Desea Cancelar Registro?')){
                        /*
                        $("#des_especie").val('');
                        $("#nom_cientifico").val('');
                        $("#cbofamilia").val('');
                        $("#cod_especie").val('');
                        $("#lblTitulo").text('Registrar Especie')
                        */
                        $("#pnl_perfil :input").each(function(){
                            $(this).val('');
                        })
                    }			
		}
            }
           function eliminar_especie(id){
                 if (confirm('¿Desea Eliminar Especie?')){
                     $.ajax({
                            type: "POST",
                            url: "{{path('eliminarEspecie')}}",
                            async: "true",
                            data: {cod_especie:id}
                            }).done(function(msg) {
                            if(msg==1){
                                 $("#grilla-especies").dataTable().fnDraw();
                            }
                     });
                 }
           }
            
            
            </script>
            <!-- End DataTable-->

{% endblock%} 
 {%block panel1%}
            <div class="menu-content">
                  {{menutotal|raw('html')}}
                  <div class="titulo">DIRECCIÓN DE ACUICULTURA (DIAC)</div>  
            </div>

            <div style="width: 85%;margin: 25px auto;background: #ffffff;border:1px solid #000000;padding: 35px;">
                <div style="width: 60%; float: left;">
                    <table id="grilla-especies" width="100%">
                        <thead>
                            <tr>
                                <th width="0%">ID</th>
                                <th width="20%">ESPECIE</th>
                                <th width="25%" align="center">NOMBRE CIENTÍFICO</th>
                                <th width="20%" align="center">FAMILIA</th>
                                <th width="20%" align="center">GRUPO DE ESPECIE</th>
                                <th width="10%" align="center">ACCION</th>
                            </tr>
                        </thead> 
                        <tbody>                           
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>                                
                            </tr>
                        </tbody>        
                    </table>
                </div>
                    
                <div id="pnl_perfil" style="width: 35%; float: left; margin-left: 3%; padding-left: 3px;margin-top: 20px; border: 1px solid #004163;">
                    <input type="hidden" id="cod_especie">
                    <input type="hidden" id="user_intranet" value="{{uname}}">                    
                    <table width="100%" align="center" class="esp-td">
                        <tr>
                            <td colspan="2" style="background-color:#004163; height: 10px;">
                                <p style="font-family:arial;color:#fff;font-size:13px;text-align:center;"><span class="titulo_perfil"><label id="lblTitulo">Registrar Especie</label></span></p>
                            </td>
                        </tr>                        
                        <tr>
                            <td>Clasificación de Especie:</td>
                            <td>{{familia|raw('html')}}</td>
                        </tr>
                        <tr>
                            <td>Grupo de Especie:</td>
                            <td>{{grupoespecie|raw('html')}}</td>
                        </tr>                        
                        <tr>
                            <td>Nombre Común:</td>
                            <td><input type="text" name="des_especie" id="des_especie" size="40" value=""/></td>
                        </tr>
                        <tr>
                            <td>Nombre Cientifico:</td>
                            <td><input type="text" name="nom_cientifico" id="nom_cientifico" size="40"/></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <a class="button" href="javascript:;" onClick="guardar_especie();"><span class="icon icon67"></span><span class="label">Guardar</span></a>
                                <a class="button" href="javascript:;" onClick="cancelar();"><span class="icon icon188"></span><span class="label">Cancelar</span></a>
                            </td>
                        </tr>                        
                    </table>                    
                </div>
                <div style="clear:left;"></div>
            </div>
                        
               

{%endblock%}
